<section class="body-inner">
    <div class="container-fluid">
        <div class="wrap-body" style="padding: 0;">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <br>

                    <div *ngIf="_responseMsg != '' && !_regComplete">
                        <div class="login-box login-box-header Credentials-box2">
                            <p>{{ _responseMsg }}</p>
                        </div>
                        <br>
                    </div>

                    <div *ngIf="_regComplete == true">
                        <!-- <div class="login-box login-box-header2 Credentials-box2">
                        <p><span> <i class="fa fa-smile-o" aria-hidden="true"></i> </span>
                           <span> <i class="fa fa-smile-o" aria-hidden="true"></i> </span> 
                           <span> <i class="fa fa-smile-o" aria-hidden="true"></i> </span> 
                        </p>
                        <h2>Your registration has been completed, </h2>
                        <h2>please click here to <a routerLink="/auth/login" title="">Login</a>  </h2>
                    </div> -->

                        <div class="create-registration_box">
                            <div class="create-registration_text">
                                <h2>Your registration has been completed, </h2>
                                <h2>please click here to <a routerLink="/auth/login/0" title="">Login</a> </h2>
                            </div>
                            <div class="create-registration_img">
                                <img src="assets/images/create-registration.png">
                            </div>

                        </div>


                    </div>


                    <!-- <div  class="login-box login-box-header Credentials-box2">
                <p>Your registration has been completed, please click here to login </p>
           </div> -->

                    <div *ngIf="_regComplete == false" class="login-box Login6 Credentials-box2">
                        <h6>Create Student's Login Credentials </h6>
                        <p>Please enter details to create your account</p>
                    </div>
                </div>
            </div>

            <div *ngIf="_regComplete == false" class="login-box Credentials-box2">
                <div class="row">
                    <form [formGroup]="createLoginForm">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Enter First Name <span class="req">*</span> </label>
                                <input type="text" formControlName='firstName' class="form-control"
                                    placeholder="Enter First Name">
                                <div class="invalid-text"
                                    *ngIf="createLoginForm.controls.firstName.touched && createLoginForm.controls.firstName.errors">
                                    <div *ngIf=" createLoginForm.controls.firstName.errors.required">First
                                        Name is required
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Enter Last Name <span class="req">*</span></label>
                                <input type="text" formControlName='lastName' class="form-control"
                                    placeholder="Enter Last Name">
                                <div class="invalid-text"
                                    *ngIf="createLoginForm.controls.lastName.touched && createLoginForm.controls.lastName.errors">
                                    <div *ngIf=" createLoginForm.controls.lastName.errors.required">Last
                                        Last Name is required
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Enter Date of Birth <span class="req">*</span></label>
                                <input type="date" [max]="getToday()" formControlName="dateOfBirth" class="form-control"
                                    placeholder="Enter Date of Birth">
                                <div class="invalid-text"
                                    *ngIf="createLoginForm.controls.dateOfBirth.touched && createLoginForm.controls.dateOfBirth.errors">
                                    <div *ngIf=" createLoginForm.controls.dateOfBirth.errors.required">Date
                                        of Birth is required
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Enter Father's Name <span class="req">*</span></label>
                                <input type="text" formControlName="fatherName" class="form-control"
                                    placeholder="Enter Father's Name">
                                <div class="invalid-text"
                                    *ngIf="createLoginForm.controls.fatherName.touched && createLoginForm.controls.fatherName.errors">
                                    <div *ngIf=" createLoginForm.controls.fatherName.errors.required">
                                        Father's Name is required
                                    </div>

                                </div>
                            </div>
                        </div> -->
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Your Email Address</label>
                                <div class="form-control"> {{ regDetails.email }} </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Enter Mobile No. <span class="req">*</span> </label>
                                <!-- <input type="text" (keypress)="keyPress($event)" maxlength="10" formControlName='phone' class="form-control" placeholder="Enter Mobile No."> -->

                                <div class="form-control-width-box">
                                    <select name="country" formControlName='phoneCountryCode'
                                        class="form-control form-control-width1">
                                        <option value="+91">+91</option>
                                        <option value="+1">+1</option>
                                        <option value="+44">+44</option>
                                        <option value="+1-340">+1-340</option>
                                    </select>
                                    <div class="invalid-text"
                                        *ngIf="createLoginForm.controls.phoneCountryCode.touched && createLoginForm.controls.phoneCountryCode.errors">
                                        <div *ngIf=" createLoginForm.controls.phoneCountryCode.errors.required"> Country
                                            Code is required
                                        </div>
                                    </div>
                                    <input type="tel" (keypress)="keyPress($event)" maxlength="10"
                                        formControlName='phone' class="form-control form-control-width2"
                                        placeholder="Enter Mobile No." readonly>
                                </div>


                                <div class="invalid-text"
                                    *ngIf="createLoginForm.controls.phone.touched && createLoginForm.controls.phone.errors">
                                    <div *ngIf=" createLoginForm.controls.phone.errors.required">Mobile No.
                                        is required
                                    </div>
                                    <div
                                        *ngIf="createLoginForm.controls.phone.errors.pattern || createLoginForm.controls.phone.errors.maxlength || createLoginForm.controls.phone.errors.minlength">
                                        Invalid Mobile No.</div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Enter Postal Code<span class="req">*</span></label>
                                <input type="number" formControlName='pincode' class="form-control"
                                    placeholder="Enter Postal Code"
                                    onkeypress="if(this.value.length > 5) return false;">
                                <div class="invalid-text"
                                    *ngIf="createLoginForm.controls.pincode.touched && createLoginForm.controls.pincode.errors">
                                    <div *ngIf=" createLoginForm.controls.pincode.errors.required">Postal
                                        Code is required
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Password <span class="req">*</span>
                                    <span data-placement="top" data-toggle="tooltip"
                                        title="Password should be 8 - 20 character long and should contain at least one upper case, one lower case letter, one number, and special symbol{!,@,#,$,%,^,&amp;,*}.">
                                        <i aria-hidden="true" class="fa fa-question-circle"></i>
                                    </span>
                                </label>
                                <div class="eyebox"> <button class="btn btn-default" type="button"> <i class="fa fa-eye"
                                            (click)="passwordHide('temp-password')" aria-hidden="true"></i> </button>
                                </div>
                                <input type="password" oncopy="return false" onpaste="return false" maxlength="20"
                                    id="temp-password" formControlName='password' class="form-control"
                                    placeholder="Enter Password">
                                <div class="invalid-text"
                                    *ngIf=" createLoginForm.controls.password.touched && createLoginForm.controls.password.errors">
                                    <div *ngIf=" createLoginForm.controls.password.errors.required">Password
                                        is required
                                    </div>
                                    <div
                                        *ngIf=" createLoginForm.controls.password.errors.pattern || (createLoginForm.controls.password.errors.minlength || createLoginForm.controls.password.errors.maxlength)">
                                        <p>Password must have upper and lower case latters.At least 1 number and special character, and be at least 8 character long</p>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Confirm Password <span class="req">*</span> </label>
                                <div class="eyebox"> <button class="btn btn-default" type="button"> <i class="fa fa-eye"
                                            (click)="passwordHide('cnf-password')" aria-hidden="true"></i> </button>
                                </div>
                                <input type="password" oncopy="return false" onpaste="return false" maxlength="20"
                                    id="cnf-password" formControlName='cnfPassword' class="form-control"
                                    placeholder="Enter Confirm Password">
                                <div class="invalid-text"
                                    *ngIf="createLoginForm.controls.cnfPassword.touched && createLoginForm.controls.cnfPassword.errors">
                                    <div *ngIf=" createLoginForm.controls.cnfPassword.errors.required">
                                        Confirm Password is required
                                    </div>
                                    <div *ngIf=" createLoginForm.controls.cnfPassword.errors.mustMatch">
                                        Passwords are not matching
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group text-center">
                                <br>
                                <a routerLink="/home" class="btn link4 mx-2 widthbox2" href="#">Close</a>
                                <a><button type="button" [disabled]="!createLoginForm.valid" (click)="createLogin()" class="btn link3 mx-2 widthbox2">
                                        Submit </button> </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>
    </div>
</section>