<section class="inner-banner-section inner-banner-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Merchant Navy</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="breadcrumbs_section">
                    <ul>
                        <li><a routerLink="/auth/home"><button type="submit">Home</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><a routerLink="/auth/unconventional-courses"><button type="submit">Unconventional
                                    Courses</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><button type="submit">Merchant Navy</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="innersearchsection">
    <div class="container">
        <div class="Student-List-section footer_link">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>How to Join Merchant Navy</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Those interested in working aboard ships and traveling by sea enroll in the Merchant Navy program.
                        A candidate who enrols in a merchant navy school will study a specialty that will assist them in
                        understanding how a ship's basic workings operate. The merchant navy is a specialized industry
                        wholly dedicated to commerce activities such as freight and passenger transportation over marine
                        routes. The Merchant Navy, sometimes known as "Shipper Marine," is an important element of the
                        worldwide distribution industry and an important part of any country's economy. It is one of the
                        most popular courses after engineering due to its great wage package and unique employment
                        options. Because the majority of the world's economic transactions take place on the ocean, the
                        naval forces sector has a strong global image.
                        The following table gives details to learn more about how to join merchant navy-
                    </p>

                    <div class="table-responsive break-spaces_box">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="">Particulars</th>
                                    <th width="">Details</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>Industry </td>
                                    <td>Marine </td>
                                </tr>
                                <tr>
                                    <td>Profession </td>
                                    <td>Merchant Navy</td>
                                </tr>
                                <tr>
                                    <td>Eligibility </td>
                                    <td>10+2 or at least a graduate degree in a relevant field. </td>
                                </tr>
                                <tr>
                                    <td>Specialization </td>
                                    <td>B.Tech Marine Engineering <br>
                                        B.Tech Ship Building <br>
                                        Diploma in Nautical Science </td>
                                </tr>
                                <tr>
                                    <td>Age Limit </td>
                                    <td>Minimum: 17 years <br>
                                        Maximum: 25 years </td>
                                </tr>
                                <tr>
                                    <td>Entrance Exams </td>
                                    <td>Indian Maritime University Common Entrance Test (IMU CET) ,JEE Advanced, All
                                        India Merchant Navy Entrance Test (AIMNET) </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <h3>What is the Merchant Navy? </h3>
                    <p>A merchant naval officer's job includes traveling across the world, handling cargo, inspecting
                        ship direction, maintaining the ship, cleaning the boats, learning about different cultures, and
                        so on. It is thrilling for people who are interested in traveling or have been bitten by the
                        travel bug. They must make a huge sacrifice by not seeing their family for an extended period of
                        time. Their work time is around 6-7 months, followed by a continuous holiday of 4-5 months. The
                        best aspect of this position is that it is tax-free. Because you must dwell outside of India for
                        at least six months, you will be granted NRI status.</p>


                    <h3>How to join the Merchant Navy after 12th?</h3>
                    <p>After finishing secondary school, it is not difficult to pursue a job in the merchant marine.
                        Candidates can acquire a career in the Navy by passing various examinations and achieving
                        certain percentages in this class. But if they are considering a career in the merchant navy
                        after graduating from high school, keep </p>

                    <p>the following factors in mind- </p>


                    <ul class="lst_type2">
                        <li>One must deal with a variety of situations that are not ideal for everyone.</li>
                        <li>After finishing their higher education, they are eligible to participate in several merchant
                            navy courses.</li>
                        <li>To begin with, one must have at least a 60% in class 12 after studying Physics, Mathematics,
                            or Chemistry.</li>
                        <li>The candidate must be unmarried, which applies to both males and females.</li>
                        <li>An applicant should be between the ages of 17 and 25.</li>
                        <li>Physical fitness is an important need in this career.</li>
                        <li>A practitioner must have a fitness certificate to enroll in this course.</li>
                        <li>The term "addiction" refers to the condition of becoming addicted to anything.</li>
                        <li>The entrance exam will be used to determine admission, which will be followed by a screening
                            test and a written examination.</li>
                        <li>Following the completion of the test, there will be an interview round, followed by a
                            medical examination.</li>
                        <li>The ship training course must be completed by the candidate.</li>
                    </ul>

                    <h3>Eligibility Requirements</h3>

                    <p>Individuals must have studied physics, math, or chemistry in class 12th and have received at
                        least 60% of their marks to be eligible. The following are some the requirements for the
                        merchant navy-</p>


                    <ul class="lst_type2">

                        <li>The term "virtual reality" refers to the process of creating a virtual reality experience.
                        </li>

                        <li>English is the required language. </li>

                        <li>As a result, a candidate must obtain 50% in English subjects. Relationship status is also an
                            important consideration in the merchant fleet. </li>

                        <li>As a result, their relationship status should be unmarried at the time of joining, which is
                            significant for both men and women. </li>

                        <li>If you are pursuing a B.Sc. in Maritime Science, for example, one should have 6/6 vision in
                            each eye; ocular vision is important in many areas. </li>

                        <li>If they want to study (B.Tech.) Marine Engineering, their eye vision can be plus or minus
                            2.5, and their unaided vision should be 6/12 in both eyes, 6/9 in one eye, and 6/12 in the
                            other. </li>

                        <li>Colour blindness is not tolerated in the merchant marine. </li>

                        <li>One must be 17 years old to join, and applications are accepted until they are 22 years old.
                        </li>

                        <li>One should be in decent physical shape if one wants to join the merchant marine. </li>

                    </ul>

                    <p>Steps of How to join Merchant Navy in India
                        Students who want to join the merchant navy must take the steps outlined below-</p>

                    <ul class="lst_type2">
                        <li>Step 1: Applicants must pass their class 12 board examinations with a minimum of 60% or
                            equivalent CGPA and a requisite subject mix of Physics, Chemistry, and Mathematics.</li>

                        <li>Step 2: Students can then apply for and pass the JEE and IMU CET entrance tests, followed by
                            an interview and medical examination stage.</li>

                        <li>Step 3: Applicants must then enroll in a BSc nautical science program at any of the
                            country's leading nautical science schools.</li>

                        <li>Step 4: Students must then complete their 18-month cadet onboard training before applying
                            for the Indian government's competence exam.</li>

                        <li>Step 5: Join as a Third Officer, then apply for rank upgrades and promotions. After
                            beginning as a Third Officer, candidates can take yearly tests and pass them with flying
                            colours.</li>
                    </ul>

                    <h3 style="font-size: 22px;">Different Courses </h3>
                    <h3><strong>Maritime Courses</strong> </h3>
                    <p>Some of the best courses that may be followed in order to enter the Merchant Navy are mentioned
                        below- <br>
                        Certificate Course Maritime Catering
                        A Certificate Course in Maritime Catering is a one-year full-time certification course or
                        diploma program. The following table gives details about the certificate course-
                    </p>


                    <div class="table-responsive break-spaces_box">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="">Particulars</th>
                                    <th width="">Details</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>Course Level </td>
                                    <td>Certificate </td>
                                </tr>
                                <tr>
                                    <td>Duration </td>
                                    <td>1-year </td>
                                </tr>
                                <tr>
                                    <td>Eligibility </td>
                                    <td>10+2 </td>
                                </tr>
                                <tr>
                                    <td>Examination Type </td>
                                    <td>Semester Type </td>
                                </tr>
                                <tr>
                                    <td>Course Fee </td>
                                    <td>INR 10,000 to 3 Lakhs </td>
                                </tr>
                                <tr>
                                    <td>Admission </td>
                                    <td>Merit-based or Entrance based </td>
                                </tr>
                                <tr>
                                    <td>Top Job Profiles </td>
                                    <td>Chief Cook, Catering Officer, General Steward, Hotel Manager, and Maintenance
                                        Manager. </td>
                                </tr>
                                <tr>
                                    <td>Top Recruiting areas </td>
                                    <td>Hospitals, hotels, airlines, motels, cruise lines, guest houses, restaurants,
                                        industrial canteens, and resorts are all examples of shipping zones. </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <h3><strong>Diploma in Nautical Science</strong></h3>

                    <p>Diploma in Nautical Science is a one-year full-time Diploma study in Nautical Science. 10+2 with
                        Mathematics, Physics, and Chemistry or an equivalent test with a score of 55% from a recognized
                        board is required for eligibility. The following table gives details about the diploma course-
                    </p>

                    <div class="table-responsive break-spaces_box">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="">Particulars</th>
                                    <th width="">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Course Level</td>
                                    <td>Diploma</td>
                                </tr>
                                <tr>
                                    <td>Duration</td>
                                    <td>1-year</td>
                                </tr>
                                <tr>
                                    <td>Eligibility</td>
                                    <td>10+2</td>
                                </tr>
                                <tr>
                                    <td>Examination Type</td>
                                    <td>Semester Type</td>
                                </tr>
                                <tr>
                                    <td>Course Fee</td>
                                    <td>INR 2,000 to 3 Lacs</td>
                                </tr>
                                <tr>
                                    <td>Admission</td>
                                    <td>Merit-based or Entrance based</td>
                                </tr>
                                <tr>
                                    <td>Top Job Profiles</td>
                                    <td>Marine Engineering Instructor, Operation Manager, Trainee Navigating Officer,
                                        Teacher, Lecturer</td>
                                </tr>
                                <tr>
                                    <td>Top Recruiting areas</td>
                                    <td>Indian Naval Sciences, Port Operations Companies, Weather Forecasting Centres,
                                        Educational Institutes</td>
                                </tr>
                                <tr>
                                    <td>Recruiters</td>
                                    <td>SMEC Automation Private Limited, American Cruise Lines, GMMCO Limited, GE
                                        Shipping Co Limited, TMC Shipping Private Limited</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <h3><strong>BE Marine Engineering </strong> </h3>
                    <p>The B.E. in Marine Engineering course is the study of the manufacture, design, development, and
                        maintenance of sea equipment used in boats, ships, submarines, or any other kind of water
                        transportation. The following table gives details about the bachelor's course-</p>

                    <div class="table-responsive break-spaces_box">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="200">Particulars</th>
                                    <th width="">Details</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>Course Level</td>
                                    <td>BE Marine Engineering</td>
                                </tr>
                                <tr>
                                    <td>Full Form</td>
                                    <td>Bachelor of Engineering in Marine Engineering</td>
                                </tr>
                                <tr>
                                    <td>Level</td>
                                    <td>Graduate</td>
                                </tr>
                                <tr>
                                    <td>Duration</td>
                                    <td>4 year</td>
                                </tr>
                                <tr>
                                    <td>Eligibility</td>
                                    <td>10+2</td>
                                </tr>
                                <tr>
                                    <td>Examination Type</td>
                                    <td>Semester Type</td>
                                </tr>
                                <tr>
                                    <td>Average Tuition Fees</td>
                                    <td>INR 15,000 to 15,00,000</td>
                                </tr>
                                <tr>
                                    <td>Admission</td>
                                    <td>Merit-based or Entrance based</td>
                                </tr>
                                <tr>
                                    <td>Top Job Profiles</td>
                                    <td>Maritime Educators, Second Marine Engineer, Ship Manager, Ship Operator, Marine
                                        Surveyor, Chief Marine Engineer, Port Manager, and so on.</td>
                                </tr>
                                <tr>
                                    <td>Top Recruiting areas</td>
                                    <td>Research and Deployment Centers, Ship Building Companies, Naval Jobs, Harbours
                                        and Ports, Colleges and Universities, etc.</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <h3> Subjects & Syllabus </h3>
                    <p>The merchant navy training is completed after passing an admission examination, a screening test,
                        and a medical exam. Candidates are also given a final written examination; those who pass the
                        exam are invited to an interview and, later, a medical test. After classes 10 and 12, a
                        candidate can pursue a merchant navy course. In both circumstances, the following subjects are
                        available for selection-</p>


                    <div class="table-responsive break-spaces_box">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="">Classes</th>
                                    <th width="">Subjects and Syllabus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>After 12th</td>
                                    <td>
                                        To join as a Deck Officer- <br>
                                        B.Sc. Nautical Science <br>
                                        Diploma in Nautical Science <br>
                                        (Leads to a BSc in Nautical Science) <br>
                                        To join as an Engineer- <br>
                                        B.E. Petroleum Engineering <br>
                                        B.E. Marine Engineering <br>
                                        B.E. Naval Architecture, and Offshore Engineering <br>
                                        B.E. Harbour & Ocean Engineering <br>
                                        B.E. Mechanical Engineering <br>
                                        B.E. Civil Engineering <br>
                                        B.Sc. Marine Catering <br>
                                        B.E. Electrical & Electronics Engineering <br>
                                        Electro-Technical Officer Course <br>
                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>


                    <h3>List of Top Best Colleges to Join Merchant Navy </h3>


                    <p>Merchant Navy colleges may be found nationwide and are meant to prepare anyone interested in
                        joining this non-combatant commercial force. The following are some of India's best merchant
                        navy colleges for 2023. The Directorate of Shipping has authorized these colleges, and the
                        Ministry of Surface Transport of the Government of India has approved them for personnel
                        training. The following table gives locations with colleges-</p>




                    <div class="table-responsive break-spaces_box">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="">Name of Colleges</th>
                                    <th width="">Location</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Maharashtra Academy of Naval Education and Training (MANET)</td>
                                    <td>Pune </td>
                                </tr>
                                <tr>
                                    <td>Samundra Institute of Maritime Studies </td>
                                    <td>Mumbai </td>
                                </tr>
                                <tr>
                                    <td>Tolani Maritime Institute (TMI) </td>
                                    <td>Pune </td>
                                </tr>
                                <tr>
                                    <td>International Maritime Institute (IMI) </td>
                                    <td>Delhi </td>
                                </tr>
                                <tr>
                                    <td>Vels Academy of Maritime Studies </td>
                                    <td>Chennai </td>
                                </tr>
                                <tr>
                                    <td>B.P. Marine Academy Navi </td>
                                    <td>Mumbai </td>
                                </tr>
                                <tr>
                                    <td>Coimbatore Marine College (CMC) </td>
                                    <td>Coimbatore </td>
                                </tr>
                                <tr>
                                    <td>Institute of Technology &amp; Marine Engineering (ITME) </td>
                                    <td>Kolkata </td>
                                </tr>
                                <tr>
                                    <td>Indian Maritime University (IMU) </td>
                                    <td>Chennai </td>
                                </tr>
                                <tr>
                                    <td>TS Rahaman </td>
                                    <td>Mumbai </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>