<div class="content-wrapper">
  <p-messages></p-messages>
  <section class="content-header">
    <h1> Schools Timing List</h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="box box-success2">
          <div class="box-header with-border bor">
            <div class="pull-left">

            </div>
            <div class="pull-right">
              <a routerLink="/manage-school/add-timing"> <button type="button" title="Add Schools"
                  class="btn link1 button_effects">Add Timing</button> </a>
              &nbsp;&nbsp;
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="box-body">
            <div class="tablesection">
              <div class="table-responsive">
                <table class="table table-striped table-striped">
                  <thead>
                    <tr>
                      <!-- <th width="100" style="text-align: center;">Sl No.</th> -->
                      <th scope="col">Academic Year </th>
                      <!-- <th>Board</th> -->
                      <th scope="col" style="text-align: center;">School Level Name</th>
                      <th scope="col">Start Time</th>
                      <th scope="col">End Time</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let time of _schoolsTimeList; let i = index">
                      <!-- <td align="center">{{ i+1 }}</td> -->
                      <td scope="row">{{ time.academicYear }} </td>
                      <td scope="row" align="center">{{ time.schoolLevelName }} </td>
                      <!-- <td align="center">{{ time.classRange }}</td> -->
                      <td scope="row">{{ time.startTime }}</td>
                      <td scope="row">{{ time.endTime }}</td>
                      <td scope="row"> <button type="button" (click)="deleteSchoolTime(time.id)" class="btn btn-danger"><i
                            class="fa fa-trash-o" aria-hidden="true"></i></button> </td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </div>

          <!-- <div class="box-footer">
            <div class="text-center">
              <button type="button" routerLink="/manage-school/school-profile-edit/{{_userDetails.schoolId}}" class="btn link2 mx-1">Cancel</button>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </section>
</div>