<div class="content-wrapper">
  <section class="content-header">
    <h1>Reviews List</h1> 
  </section>
    <section class="content">
      <form [formGroup]="reviewsSearchForm">
        <div class="box box-success2">
          <div class="box-body">
            <div class="searchsection3">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <input
                      type="text"
                      formControlName="schoolName"
                      placeholder="School Name"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <input
                      type="text"
                      formControlName="reviewerName"
                      placeholder="Reviewer Name"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                  <div class="form-group">
                    <select formControlName="isApproved" class="form-control">
                      <option value="">Select Status</option>
                      <option
                        *ngFor="let status of _statusList"
                        [value]="status.isApprove"
                      >
                        {{ status.value }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                  <button
                    (click)="searchReviewList()"
                    type="button"
                    class="btn btn-success"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="box box-success2">
        <div class="box-header with-border bor">
          <div class="pull-left">
            <div class="Showingbox">
              <div class="pull-left drop">
                <select
                  class="form-control"
                  #limit
                  (change)="getallReviewslist(limit.value)"
                >
                  <option value="10" ng-reflect-value="10">10</option>
                  <option value="20" ng-reflect-value="20">20</option>
                  <option value="30" ng-reflect-value="30">30</option>
                </select>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="box-body">
          <div class="tablesection">
            <div class="table-responsive">
              <table
                class="table table-striped"
                matSort
                matSortDirection="desc"
                matSortDisableClear
              >
                <thead>
                  <tr>
                    <th width="300" mat-sort-header="School_Name">School Name</th>
                    <th width="160" mat-sort-header="Reviewer Name">
                      Reviewer Name
                    </th>
                    <th>Review Details</th>
                    <th>Created Date</th>
                    <th>Rating</th>
                    <th mat-sort-header="Is_Approved">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let review of reviewsList
                        | paginate
                          : {
                              id: 'reviewsList',
                              itemsPerPage: itemsPerPage,
                              currentPage: currentPage,
                              totalItems: reviewListSize
                            };
                      let i = index
                    "
                  >
                    <td width="300" class="text-light-blue" (click)="showPositionDialog('top',review.reviewDetails)">{{review.schoolId?.schoolName}}</td>
                    <td>{{ review.reviewerName }}</td>
                    <td class="text-light-blue" (click)="showPositionDialog('top',review.reviewDetails)">{{ (review.reviewDetails.length > 40)?(review.reviewDetails | slice : 0 : 40) + "...":review.reviewDetails }}</td>
                    <td>{{ review.createdTs | date:"d MMM y" : "UTC"}}</td>
                    <td><p-rating [(ngModel)]="review.rating" [cancel]="false" [readonly]="true"></p-rating></td>
                    <td>
                      <!-- <p-inputSwitch [(ngModel)]="review.isApproved"></p-inputSwitch>
                      {{ review.isApproved ? 'Active' : 'Inactive' }} -->
                      <p-inputSwitch  [(ngModel)]="review.isApproved" (onChange)="updateStatus(review?.id,review?.isApproved)"></p-inputSwitch>
  
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="paginationsectionbox">
                <span *ngIf="!isEmpty" class="Showingboxto"
                  >Showing {{ currentPageStartingIndex }} to
                  {{ currentPageEndingIndex }} of
                  {{ reviewListSize }} results</span
                >
                <span *ngIf="isEmpty">No records found.</span>
                <pagination-controls
                  *ngIf="!isEmpty"
                  class="pagination"
                  id="reviewsList"
                  (pageChange)="handlePageChange($event)"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <p-dialog header="Review Details" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p class="review-details-admin">{{reviewDTl}}</p>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayMaximizable=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>
