<div class="content-wrapper">
  <section class="content-header">
    <h1> View School</h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="box box-success2">
          <div class="box-body">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>School Name </label>
                  <div class="form-control">South Point School </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>Contact Person</label>
                  <div class="form-control">Mr. abcd </div>
                </div>
              </div>               
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>Phone No.</label>
                  <div class="form-control">+91 1234567890</div>
                </div>
              </div>  
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>Email.</label>
                  <div class="form-control">john@example.com</div>
                </div>
              </div> 
              
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>Flat, House no., Building, Apartment</label>
                  <div class="form-control">82/7A</div>
                </div>
              </div>                 

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>Area, Colony, Street, Sector </label>
                  <div class="form-control">Ballygunge Pl, Ballygunge Place, Ballygunge </div>
                </div>
              </div> 

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>Landmark</label>
                  <div class="form-control"> </div>
                </div>
              </div>                
              
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>Town/City</label>
                  <div class="form-control"> Kolkata </div>
                </div>
              </div>  

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>State / Province / Region</label>
                  <div class="form-control"> West Bengal </div>
                </div>
              </div> 
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>Pin Code</label>
                  <div class="form-control"> 700019  </div>
                </div>
              </div> 
            </div>
          </div>
          <div class="box-footer align-center">
            <button type="submit" class="btn link2 button_effects mx-1 button-size">Back</button>
          </div>


        </div>
       
      </div>
    </div>
  </section>
</div>



