<div class="content-wrapper">
    <p-messages></p-messages>
    <section class="content-header">
        <h1> Header Tag List</h1>
    </section>
    <section class="content">
        <div class="box box-success2">
            <div class="box-header with-border bor">
                <div class="pull-left">
                    <div class="Showingbox"><span class="pull-left"></span>
                        <div class="pull-left drop">
                            <select class="form-control">
                                <option value="25" ng-reflect-value="25">25</option>
                                <option value="50" ng-reflect-value="50">50</option>
                                <option value="100" ng-reflect-value="100">100</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <nav class="setting-nav dropdown" style="margin-top: 1rem; margin-bottom: 1rem;">
                        <button pButton pRipple routerLink="/header-tag/add-header" type="button" label="Add Tags"
                            icon="pi pi-plus" class="p-button-info p-button-outlined btn-success"></button>
                    </nav>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="box-body">
                <div class="tablesection">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="800">Subject</th>
                                    <th>Created Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of _tagsList| paginate: {
                                  id: '_tagsList',
                                  itemsPerPage: itemsPerPage,
                                  currentPage: currentPage,
                                  totalItems: _feedbacksListSize
                                };let i = index">
                                    <td> <button (click)="openDialog(data?.headerTagBody)" type="button"
                                            title="View Tags" class="btn btn-link text-light-blue"> <span
                                                style="font-weight: bold;">{{(data?.headerTagBody.length > 90)?(data?.headerTagBody | slice : 0 : 90)+"...":data?.headerTagBody }}</span></button></td>
                                    <td style="color: var(--surface-700);">{{ data?.createdTs | date:"d MMM y" : "UTC"
                                        }}</td>
                                    <td>
                                        <p-inputSwitch [(ngModel)]="data.isPublish"
                                            (onChange)="updateStatus(data?.id,data?.isPublish)"></p-inputSwitch>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="paginationsectionbox">
                    <span *ngIf="!isEmpty" class="Showingboxto">Showing {{ currentPageStartingIndex }} to
                        {{ currentPageEndingIndex }} of {{ _feedbacksListSize }} results</span>
                    <span *ngIf="isEmpty">No records found.</span>
                    <pagination-controls *ngIf="!isEmpty" class="pagination" id='_tagsList'
                        (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </section>
</div>
<p-dialog header="Header Details" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">
<p class="review-details-admin">{{headertagDTl}}</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayMaximizable=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>