<section class="inner-banner-section inner-banner-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Frequently Asked Questions</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="breadcrumbs_section">
                    <ul>
                        <li><a routerLink=""><button type="submit">Home</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><button type="submit">FAQs</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="innersearchsection">
    <div class="container">
        <div class="Student-List-section footer_link">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>FAQs</h1>
                    <p style="text-align:center;">Answers to the most frequently asked questions.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <p-accordion>
                        <div class="accordion_box" *ngFor="let faq of faqDtl;let i=index ">
                            <p-accordionTab header="{{i+1}}.&nbsp;{{faq.faqSubject}}" [selected]="false">
                                <p>{{faq?.faqContent}} <span *ngIf="faq.faqSubject == 'How can I add my School to Vidyalo.com '"><a routerLink="/auth/add-school">click here.</a></span> </p>
                            </p-accordionTab>
                        </div>
                        <div class="accordion_box">
                            <!-- <p-accordionTab header="2.	How do I find the admission process on vidyalo.com?">
                                <p>You can simply go to my profile section and find the admission status under the
                                    student's
                                    name.</p>
                            </p-accordionTab> -->
                        </div>


                    </p-accordion>
                </div>
            </div>
        </div>
    </div>
</section>