<section class="inner-banner-section inner-banner-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>About Us</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="breadcrumbs_section">
                    <ul>
                        <li><a routerLink=""><button type="submit">Home</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><button type="submit">About Us</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="innersearchsection">
    <div class="container">
        <div class="Student-List-section footer_link">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>About Us</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>If you're looking for the most up-to-date and reliable school information in West Bengal India,
                        then you've come to the right place. Vidyalo is an innovative platform created with the mission
                        of providing authentic school data so parents can make informed decisions about their children's
                        education.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-15 col-lg-5">
                    <div class="help-dask-img">
                        <img src="assets/images/About_img1.png" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <p> Not only will Vidyalo provide extensive information on schools across India but it
                        also allows users access to detailed profiles of each institution as well as contact information
                        so they can easily get in touch with representatives. Vidyalo offers valuable insights into
                        current educational trends through news articles and expert advice. With this tool, finding
                        quality schools is easier than ever before!. Vidyalo is an initiative created by DCC Services Pvt Ltd.  – a
                        renowned IT service company. Our goal is to
                        make information access available for all.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <p> We believe that education should be a priority in our
                        society, as it helps grow the next generation of leaders and innovators. However, getting
                        authentic data can be hard to come by - especially if you're relying on word-of-mouth from other
                        parents or rationing out resources amongst family members. That's why we have made Vidyalo: a
                        platform that provides easy access to reliable learning materials so that everyone can benefit!
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-15 col-lg-5">
                    <div class="help-dask-img">
                        <img src="assets/images/About_img2.png" alt="">
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>