<section class="body-inner">
    <div class="container-fluid">
        <div class="wrap-body" style="padding: 0;">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <br>

                    <div *ngIf="_responseMsg != ''">
                        <div class="login-box login-box-header Credentials-box2">
                            <p>{{ _responseMsg }}</p>
                        </div>
                    </div>
                    <form [formGroup]="registrationForm">
                        <br>
                        <div class="login-box Login6">
                            <h6>Create Account For Student </h6>
                        </div>
                        <div class="login-box">

                            <div class="form-group">
                                <label>Select Country <span class="req">*</span></label>
                                <select formControlName='countryCode' class="form-control">
                                    <option value="">Select</option>
                                    <option value="+91">India</option>
                                    <!-- <option value="USA">USA</option> -->
                                </select>
                                <div class="invalid-text"
                                    *ngIf="registrationForm.controls.countryCode.touched && registrationForm.controls.countryCode.errors">
                                    <div *ngIf=" registrationForm.controls.countryCode.errors.required">
                                        Country is required
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label>Email Address <span class="req">*</span></label>
                                <input type="text" formControlName='email' class="form-control"
                                    placeholder="Email Address">
                                <div class="invalid-text"
                                    *ngIf="  registrationForm.controls.email.touched && registrationForm.controls.email.errors">
                                    <div *ngIf=" registrationForm.controls.email.errors.required">Email is
                                        required
                                    </div>
                                    <div
                                        *ngIf="!registrationForm.controls.email.errors.required && registrationForm.controls.email.errors.invalidEmail">
                                        Invalid
                                        Email Format
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Phone Number<span class="req">*</span></label>
                                <input type="tel" formControlName='phone' class="form-control"
                                    placeholder="Phone" maxlength="10">
                                    <div class="invalid-text" *ngIf="registrationForm.controls.phone.touched && registrationForm.controls.phone.errors">
                                        <div *ngIf=" registrationForm.controls.phone.errors.required">Phone Number is
                                            required
                                        </div>
                                    </div>
                            </div>

                            <!-- <div class="form-group">
                        <div class="checkbox">
                            <label>
                              <input type="checkbox">
                              I authorize to call, SMS, email &  Whatsapp other information & services.
                            </label>
                        </div>
                    </div> -->

                            <div class="form-group">
                                <!-- routerLink="/auth/enter-otp" -->
                                <a><button type="button" [disabled]="!registrationForm.valid" (click)="sendOtp()" class="btn link3 hundredbox "> Send OTP
                                    </button> </a>
                            </div>

                        </div>
                        <div class="login-box" style="background: #ffffff; margin-top: 15px; margin-bottom:30px;">
                            <p style="margin: 0;"> Already have an account? <a routerLink="/auth/login/0"> Sign In! </a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>