<div class="content-wrapper">
    <p-messages></p-messages>
    <section class="content-header">
        <h1>Testimonials List</h1>
    </section>
    <section class="content">
        <div class="box box-success2">
            <div class="box-body">
                <div class="searchsection3">
                    <form>
                        <div class="row" [formGroup]="testimonialSearchForm">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <input type="text" placeholder="Name" class="form-control" formControlName="name">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <input type="text" placeholder="Designation" class="form-control "
                                        formControlName="designation">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <input type="text" placeholder="Institution" class="form-control border-right"
                                        formControlName="institution">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <button type="button" class="btn btn-success" (click)="searchTestimonialList()">
                                    Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="box box-success2">
            <div class="box-header with-border bor">
                <div class="pull-left">
                    <div class="Showingbox"><span class="pull-left"></span>
                        <div class="pull-left drop">
                            <select class="form-control" #limit (change)="fetchListApi(limit.value)">
                                <option value="25" ng-reflect-value="25">25</option>
                                <option value="50" ng-reflect-value="50">50</option>
                                <option value="100" ng-reflect-value="100">100</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="pull-right dropdown">
                    <a routerLink="/manage-testimonials/add-testimonial"> <button type="button" pButton icon="pi pi-plus"  label="Add Testimonials"
                            class="btn p-button-info p-button-outlined"></button></a>
                    &nbsp;
                    <nav class="setting-nav ">
                        <label for="btn" class="button btn btn-success"><i class="fa fa-cog" aria-hidden="true"></i>
                        </label>
                        <input class="Rolebox" type="checkbox" id="btn">
                        <ul class="menu">
                            <li (click)="makePublishCall(1)"><a>
                                    <font><i class="fa fa-check" aria-hidden="true"></i></font>Publish
                                </a></li>
                            <li (click)="makePublishCall(0)"><a>
                                    <font><i class="fa fa-times" aria-hidden="true"></i></font>Unpublish
                                </a></li>
                        </ul>
                    </nav>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="box-body">
                <div class="tablesection">
                    <div class="table-responsive">
                        <table class="table table-striped" matSort matSortDirection="asc" (matSortChange)="sortData($event)" matSortDisableClear>
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: center;" width="40" align="center"> <input type="checkbox"
                                            style="margin: 8px 0 0 0;" (change)="selectAll($event);" [(ngModel)]="selectedAll" (click)="toggleShow()"></th>
                                    <th scope="col" width="100" mat-sort-header="name">Name</th>
                                    <th scope="col" width="100" mat-sort-header="designation">Designation</th>
                                    <th scope="col" width="100" mat-sort-header="institution">Institution</th>
                                    <th scope="col" width="100" style="text-align: center;">Photo </th>
                                    <th scope="col" width="250" mat-sort-header="message">Message</th>
                                    <th scope="col" width="50" mat-sort-header="active">Publish</th>
                                    <th scope="col" width="50"  style="text-align: center;" >Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let testimonial of _testimonialList  | paginate:{
              id:'_testimonialList',
              itemsPerPage:itemsPerPage,
              currentPage:currentPage,
              totalItems:_testimonialListSize
            }; let i =index">
                                    <td scope="row" align="center" style="text-align: center;"><input type="checkbox"
                                            (click)="selectCheck($event,testimonial.id)" [(ngModel)]="testimonial.selected"></td>
                                    <td scope="row">{{testimonial.name}}</td>
                                    <td scope="row">{{testimonial.designation}}</td>
                                    <td scope="row">{{testimonial.institution}} </td>
                                    <td scope="row">
                                        <div class="Profile_img">
                                            <img src="{{testimonial.docList.length !== 0  ? testimonial.docList[0].filePath : 'assets/images/man.png'}}"
                                                alt="">
                                            <!-- <img src="assets/images/profile_picture.jpg" alt=""> -->
                                        </div>
                                    </td>
                                    <td scope="row"> {{testimonial.message}} </td>
                                    <td scope="row">
                                        <p-tag styleClass="p-mr-2" *ngIf="testimonial.isActive === 1" severity="success">Published</p-tag>
                                        <p-tag severity="danger" *ngIf="testimonial.isActive === 0" >Unpublished</p-tag>
                                    </td>
                                    <td scope="col" style="text-align: center;">
                                        <a [routerLink]="['/manage-testimonials/edit-testimonial/', testimonial.id]">
                                        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info p-button-lg p-button-outlined"></button>
                                        </a>
                                    </td>
                                </tr>




                            </tbody>


                        </table>
                        <div *ngIf="_testimonialList.length == 0"  style="width: 100%; margin: 0rem auto; text-align: center;" class="no-record-found">
                            <div class="alert alert-warning" role="alert">
                              No Records found!
                            </div>
                          </div>
                        <div class="" *ngIf="_testimonialList.length != 0">
                            <span>Showing {{currentPageStartingIndex}} to {{currentPageEndingIndex}} of
                                {{_testimonialListSize}} results</span>
                            <pagination-controls class="pagination" id="_testimonialList"
                                (pageChange)="handlePageChange($event)">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</div>