<div class="content-wrapper">
  <p-messages></p-messages>
    <section class="content-header">
      <h1>Save Achievement</h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  
          <form [formGroup]="_schoolForm">
            <div class="box box-success2">
              <div class="box-body">
                <div class="tablesection">
                  <div class="table-responsive">
                    <table class="table table-striped table-striped Timingbox" aria-label="academic-save">
                      <thead>
                        <tr>
                          <th scope="col" width="">Academic Year </th>
                          <!-- <th width="">Performance Title</th> -->
                          <th scope="col" width="">Academic Performance</th> 
                          <th scope="col"  width="100" style="text-align: center;">-</th>                          
                        </tr>
                      </thead>
                      <tbody>
  
                        <ng-container formArrayName="schoolAcademicDtlVo" *ngFor="let result of parameterListArray.controls;let i=index">
                          <tr [formGroupName]="i">
                            <td scope="row">
                                <!-- <input type="text" formControlName="academicYear" readonly class="form-control" placeholder="Enter ..."> -->
                                <select class="form-control" formControlName="academicYear">
                                  <option *ngFor="let data of _academicYrArr" [value]="data">{{data}}</option>
                                </select>
                                <div *ngIf="isSubmit == true && result.value.academicYear == ''" class="invalid-text">Academic Year</div>
                            </td>
                            <!-- <td>
                                <input type="text" formControlName="performanceTitle" pInputText class="form-control" placeholder="Enter ...">
                                <div *ngIf="isSubmit == true && result.value.performanceTitle == ''" class="invalid-text">Performance Title</div>
                            </td>   -->
                            <td scope="row">
                                <!-- <input type="text" formControlName="academicInformation" class="form-control" placeholder="Enter ..."> -->
                                <ejs-richtexteditor  formControlName="academicInformation" [toolbarSettings]="tools"
                                    [quickToolbarSettings]="quickTools" required [iframeSettings]='iframe' [maxLength]="5000"
                                    style="z-index: 100; width: 100%"></ejs-richtexteditor>
                                <div *ngIf="isSubmit == true && result.value.academicInformation == ''" class="invalid-text">Academic Performance</div>
                                <div *ngIf="result.get('academicInformation').hasError('maxlength')" class="invalid-text">Maximum of 5000 characters</div>
                            </td>  
                            <td scope="row" style="text-align: center;">
                                <button *ngIf="i == 0"  type="button" pButton pRipple (click)="addBlankParameterList()" class="btn p-button-info p-button-text" icon="pi pi-plus"></button>
                                <button *ngIf="i != 0" pButton pRipple (click)="removeRow(i)" type="button" class="btn btn-danger btn p-button-info p-button-text p-button-danger" icon="pi pi-trash"></button>
                            </td>  
                          </tr>
                        </ng-container>
  
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <div class="text-center">
                  <button pButton pRipple type="button" (click)="cancelButtonRoute()"  class="btn p-button-outlined p-button-info">Back</button>
                  &nbsp;<button type="button" pButton pRipple (click)="saveAcademic()" class="btn link3 mx-1 p-button-info">Submit</button>
  
                </div>
              </div>
  
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
