<section class="inner-banner-section inner-banner-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Study Abroad</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="breadcrumbs_section">
                    <ul>
                        <li><a routerLink="/auth/home"><button type="submit">Home</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><button type="submit"></button>Study Abroad</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="innersearchsection">
    <div class="container">
        <div class="Student-List-section footer_link">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Study Abroad</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a routerLink="/auth/study-abroad/foreign-study-engineering">
                        <div class="news_box">
                            <div class="news_box_img">
                                <img src="assets/images/course_image.jpg" alt="">
                            </div>
                            <h2>Foreign Study Engineering</h2>
                            <p>Engineering being one of the most challenging degrees and jobs in the world, the courses
                                have always been popular among students due to wide array of career prospects. Engineers
                                ...</p>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a routerLink="/auth/study-abroad/mbbs-abroad">
                        <div class="news_box">
                            <div class="news_box_img">
                                <img src="assets/images/course_image.jpg" alt="">
                            </div>
                            <h2>MBBS Abroad</h2>
                            <p>You’ll be delighted to learn that the Indian government provides several scholarships to
                                help Indian students seeking rewarding career opportunities abroad ...
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a routerLink="/auth/study-abroad/scholarship-program-in-india">
                        <div class="news_box">
                            <div class="news_box_img">
                                <img src="assets/images/course_image.jpg" alt="">
                            </div>
                            <h2>Scholarships Programs in Foreign and India</h2>
                            <p>You’ll be delighted to learn that the Indian government provides several scholarships to
                                help Indian students seeking rewarding career opportunities abroad ...
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a routerLink="/auth/study-abroad/study-abroad-after-10th">
                        <div class="news_box">
                            <div class="news_box_img">
                                <img src="assets/images/course_image.jpg" alt="">
                            </div>
                            <h2>Study abroad after 10th grade</h2>
                            <p>You’ll be delighted to learn that the Indian government provides several scholarships to
                                help Indian students seeking rewarding career opportunities abroad ...
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</section>