<div class="content-wrapper">
    <section class="content-header">
      <h1>Students List</h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="box box-success2">
            <div class="box-header with-border bor">
              <h3 class="box-title card-text">Search</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                  <div class="form-group">
                    <label>Student Name	 </label>
                    <input type="text"  placeholder="student name" class="form-control">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                  <div class="form-group">
                    <label>Guardian Name </label>
                    <input type="text" formcontrolname="name1" placeholder="guardian name " class="form-control">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                  <div class="form-group">
                    <label>Phone No</label>
                    <input type="tel"  placeholder="phone no" class="form-control">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                  <div class="form-group">
                    <label>Email </label>
                    <input type="email"  placeholder="email" class="form-control">
                  </div>
                </div> 



                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                  <div class="form-group">
                    <label> &nbsp;&nbsp; </label>
                    <br>
                    <button type="button" class="btn searchbox link1 button_effects"><i aria-hidden="true" class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box box-success2">
            <div class="box-header with-border bor">
              <div class="box-tools pull-right">
                <button type="button" title="Add Schools" class="btn link1 button_effects"><i class="fa fa-plus" aria-hidden="true"></i> Add Student </button>
                &nbsp;&nbsp; </div>
              <div class="clearfix"></div>
            </div>
            <div class="box-body">
              <div class="tablesection">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col" width="50">Sl No.</th>
                        <th scope="col">Student  Name </th>
                        <th scope="col">Guardian Name </th>
                        <th scope="col">Phone No.</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row" align="center">01</td>
                        <td scope="row"><button type="button" title="View Schools" class="btn school-btn" >Student  Name</button></td>
                        <td scope="row">Guardian Name </td>
                        <td scope="row">+91 1234567890</td>
                        <td scope="row">john@example.com</td>
                        <td scope="row"><button type="button" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                      </tr>
                      <tr>
                        <td scope="row" align="center">02</td>
                        <td scope="row"><button type="button" title="View Schools" class="btn school-btn" >Student  Name</button></td>
                        <td scope="row">Guardian Name </td>
                        <td scope="row">+91 1234567890</td>
                        <td scope="row">john@example.com</td>
                        <td scope="row"><button type="button" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                      </tr>
                      <tr>
                        <td scope="row" align="center">03</td>
                        <td scope="row"><button type="button" title="View Schools" class="btn school-btn" >Student  Name</button></td>
                        <td scope="row">Guardian Name </td>
                        <td scope="row">+91 1234567890</td>
                        <td scope="row">john@example.com</td>
                        <td scope="row"><button type="button" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                      </tr>
                      
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
