<section class="inner-banner-section inner-banner-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Architecture</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="breadcrumbs_section">
                    <ul>
                        <li><a routerLink="/auth/home"><button type="submit">Home</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><a routerLink="/auth/unconventional-courses"><button type="submit">Unconventional
                                    Courses</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><button type="submit">Architecture</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="innersearchsection">
    <div class="container">
        <div class="Student-List-section footer_link">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Architecture</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Introduction</h2>

                    <p>Architecture is a culmination of art, science, and the ability to manage the construction of a
                        building. Architects are in charge of designing homes, office spaces, educational institutions,
                        and
                        many more artificial marvels that we see today.
                        When we were young, we built small house structures with playing cards. That’s when we
                        unintentionally had a love for architecture. You need a creative and artistic mind to design
                        compelling structures that look appealing to people. In the modern world, you should also keep
                        in
                        mind that your architectural design is environmentally friendly.</p>

                    <p>Architecture courses after 12th in India mainly focus on developing the skills needed to become
                        an
                        architect. The Architecture courses provides students with deep knowledge of building commercial
                        buildings, airport terminals, highways construction, malls, complexes, and civil construction by
                        applying basic concepts and innovative ideas.</p>

                    <h2>Scope for architecture courses after 12th for Indian students</h2>

                    <p>There are over 1 lakh architects in India, and the global architectural services market is
                        expected
                        to reach USD 344 billion in 2022, which determines the massive scope for architecture courses
                        after
                        12th. The demand for architects is rising yearly as the real estate industry is booming at a
                        higher
                        pace than ever before.</p>

                    <p>The architecture course is about the study of designing and making buildings and structures. If
                        you
                        have an eye for design and a passion for architecture, you would be a perfect fit for this
                        course.
                        After completing this course, you can either work at architectural companies, independently as a
                        freelance architect, or even start your own agency.</p>


                    <h2>Top architecture entrance exams conducted at National Level</h2>
                    <p>Listed below is the detail information of top architecture entrance examination conducted at <strong> all
                        India level</strong>   for admission to <strong>bachelor of architecture (B.Arch) </strong></p>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20" align="center">SNo</th>
                                    <th>Acronym</th>
                                    <th>Name</th>
                                    <th>Mode Of Examination</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="20" align="center">1</td>
                                    <td>NATA</td>
                                    <td>National Aptitude Test In Architecture</td>
                                    <td>Online & Offline</td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">2</td>
                                    <td>JEE-Main</td>
                                    <td>Joint Entrance Exam – Main (AAT)</td>
                                    <td>Online & Offline</td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">3</td>
                                    <td>HITSEEE</td>
                                    <td>Hindustan Institute Of Technology And Science Engineering Entrance Exam</td>
                                    <td>Online</td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">4</td>
                                    <td>CEED</td>
                                    <td>Common Entrance Examination for Design
                                        (post-graduation in design )
                                    </td>
                                    <td>Online & Offline
                                        (conducted by IIT BOMBAY )
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">5</td>
                                    <td>GAT</td>
                                    <td>Gitam Admission Test</td>
                                    <td>Online</td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">6</td>
                                    <td>AMU B.Arch</td>
                                    <td>Aligarh Muslim University Bachelor of Architecture</td>
                                    <td>Offline</td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">7</td>
                                    <td>BSAUEEE</td>
                                    <td>BS Abdur Rahman University B.Arch Entrance Exam</td>
                                    <td>Online & Offline</td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">8</td>
                                    <td>JEE-Advanced</td>
                                    <td>Joint Entrance Examination AAT (Advanced)</td>
                                    <td>Online & Offline</td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">9</td>
                                    <td>KIITEE</td>
                                    <td>Kalinga Institute of Industrial Technology Entrance Examination</td>
                                    <td>Online</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h2>Top architecture entrance exams conducted at State level</h2>
                    <p>Listed below is the detail information top architecture entrance examination conducted at
                        <strong>state
                            level</strong> for admission to<strong> bachelor ofarchitecture (B.Arch)</strong>
                    </p>


                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="20" align="center">SNo</th>
                                    <th width="160">Acronym</th>
                                    <th>Name</th>
                                    <th width="180">Mode of examination</th>
                                    <th width="180">Conducted by</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="20" align="center">1</td>
                                    <td>JNTUPACET</td>
                                    <td>Jawaharlal Nehru Technological University Planning And Architecture Common
                                        Entrance Test</td>
                                    <td>Offline</td>
                                    <td>State (All India)</td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">2</td>
                                    <td>UPSEE</td>
                                    <td>Uttar Pradesh State Entrance Examination</td>
                                    <td>Offline</td>
                                    <td>State (Uttar Pradesh)</td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">3</td>
                                    <td>KCET</td>
                                    <td>Karnataka Common Entrance Test</td>
                                    <td>Offline</td>
                                    <td>State (Karnataka)</td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">4</td>
                                    <td>WB-JEE</td>
                                    <td>West Bengal Joint Entrance Examination</td>
                                    <td>Offline</td>
                                    <td>State (West Bengal)</td>
                                </tr>


                                <tr>
                                    <td width="20" align="center">5</td>
                                    <td>IPUCET</td>
                                    <td>Guru Gobind Singh Indraprastha University Common Entrance Test</td>
                                    <td>Offline</td>
                                    <td>State (Delhi)</td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">6</td>
                                    <td>TANCET</td>
                                    <td>Tamil Nadu Common Entrance Test</td>
                                    <td>Offline</td>
                                    <td>State(Tamil Nadu)</td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">7</td>
                                    <td>COMEDK UGET</td>
                                    <td>COMEDK UG Entrance Test 2018 for BArch Courses</td>
                                    <td>Offline</td>
                                    <td>State (Karnataka)</td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">8</td>
                                    <td>MAH M.Arch CET</td>
                                    <td>Maharashtra MAH M. Arch CET 2018</td>
                                    <td>Offline</td>
                                    <td>State (Maharashtra)</td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">9</td>
                                    <td>OJEE</td>
                                    <td>Odisha Joint Entrance Examination (M.Arch)</td>
                                    <td>Offline</td>
                                    <td>State (Odisha)</td>
                                </tr>
                                <tr>
                                    <td width="20" align="center">10</td>
                                    <td>KEAM (B.Arch)</td>
                                    <td>KEAM 2018 Engineering Agriculture Medical Exam</td>
                                    <td>Offline</td>
                                    <td>State (Kerala)</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <h2>Architecture Courses After class 12</h2>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Course</th>
                                    <th>Eligibility</th>
                                    <th width="100">Duration</th>
                                    <th>Institution</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>B.Arch</td>
                                    <td>A minimum of 50% marks in Class 12 with PCM </td>
                                    <td>5 years </td>
                                    <td>IIT- Kharagpur,&nbsp; NIT- Calicut, SPA- Delhi,&nbsp; JMI- Delhi, etc. </td>
                                </tr>
                                <tr>
                                    <td>B. Planning</td>
                                    <td>A minimum of 50% marks in Class 12 with PCM </td>
                                    <td>3 years </td>
                                    <td>LPU- Jalandhar, COEP- Pune, SPA- Delhi,&nbsp; Amity- Mumbai, etc. </td>
                                </tr>
                                <tr>
                                    <td>Diploma in Architectural Assistantship </td>
                                    <td>A minimum of 50% marks in class 12, in any stream </td>
                                    <td>3 years </td>
                                    <td>Butler Polytechnic- Vadodara,&nbsp; CRRIT- Delhi, etc. </td>
                                </tr>
                                <tr>
                                    <td>Diploma in Interior Design</td>
                                    <td>A minimum of 50% marks in class 12, in any stream </td>
                                    <td>1 year </td>
                                    <td>AMU- Aligarh, Mumbai University,&nbsp;Poddar Group of Institutions- Jaipur, etc.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Certificate in Interior Design </td>
                                    <td>A minimum of 50% marks in class 12, in any stream </td>
                                    <td>6 months </td>
                                    <td>MFT- Chennai, Poddar Group of Institutions- Jaipur, GIFT- Ahmedabad, etc. </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <p>Let us now talk about the above-mentioned architecture courses after 12th in detail-</p>

                    <h3><strong>B. Arch </strong> </h3>

                    <p>B.Arch is one of the most well-known architecture courses after 12th science. This course is
                        mostly taken by students with a science background, however, some students with a design
                        background also pursue it. B.Arch graduates are in high demand for jobs and career options in
                        the work market, which primarily puts their talents and ideas to the test.</p>

                    <p><strong>Eligibility: </strong> Eligibility for architecture after 12th is a minimum of 50% marks
                        with PCM.</p>
                    <p><strong>Duration:</strong> It is a 5-year course.</p>
                    <p><strong>Institutes:</strong> IIT- Kharagpur, NIT- Calicut, SPA- Delhi, JMI- Delhi, etc. provide
                        these architecture courses after 12th science.</p>

                    <h3><strong>B. Planning</strong> </h3>

                    <p>Upon completing these architecture courses after 12th science students can work as city planners,
                        regional planners, project planners, layout architects, and interior designers, among other
                        fields. The curriculum is designed to answer how to become architect after 12th and prepare
                        students for a research-based dissertation and to train them in a variety of design,
                        engineering, management, and problem-solving skills.</p>

                    <P><strong>Eligibility:</strong> Eligibility for architecture after 12th is a minimum of 50% marks
                        in class 12 with PCM as subjects.</P>

                    <p><strong>Duration:</strong> It is a 3-year course.</p>
                    <p><strong>Institutes: </strong> These architecture courses after 12th science can be pursued from
                        LPU- Jalandhar, COEP- Pune, SPA- Delhi, Amity- Mumbai, etc. </p>

                    <h3><strong>Diploma in Architectural Assistantship</strong> </h3>
                    <p>The Architectural Assistantship Diploma program lasts three years. The candidate must be at least
                        15 years old to be considered for such architecture courses after 12th. These architecture
                        courses after 12th are appropriate for individuals who have strong communication skills and can
                        convey their thoughts both orally and in writing.</p>

                    <p><strong>Eligibility: </strong> Eligibility for architecture after 12th is that students must have
                        scored a minimum of 50% marks in class 12, in any stream. </p>
                    <p><strong>Duration:</strong> It is a 3-year course </p>
                    <p><strong>Institutes: </strong> Butler Polytechnic- Vadodara, CRRIT- Delhi, etc. </p>
                    <h3><strong>Diploma in Interior Design </strong></h3>

                    <p>A diploma in interior design answers how to become architect after 12th and teaches you how to
                        assess a scene and picture it from many perspectives, how to interpret a colour theme, how to
                        match colours to undertones, how to understand and properly fit furniture, and so on. The main
                        benefit is that the course is short, yet it covers the essential principles of interior design
                        and spatial organization.</p>

                    <p><strong>Eligibility:</strong> A minimum of 50% marks in class 12, in any stream.</p>
                    <p><strong>Duration: </strong> It is a 1-year course.</p>
                    <p><strong>Institutes:</strong> AMU- Aligarh, Mumbai University, Poddar Group of Institutions-
                        Jaipur, etc.</p>

                    <h3><strong>Certificate in Interior Design </strong></h3>

                    <p>Interior design technologies, colour theory, software design methodologies, and their
                        implementations are all covered in these architecture courses after 12th. Business and
                        residential design, software design tools, drawing abilities, as well as commercial, legal,
                        moral, and other challenges that interior designers face are all covered.</p>
                    <p><strong>Eligibility: </strong> Eligibility for architecture after 12th is 50% marks in class 12,
                        in any stream.</p>
                    <p><strong>Duration:</strong> It is a 6-month course.</p>

                    <p><strong>Institutes: </strong> MFT- Chennai, Poddar Group of Institutions- Jaipur, GIFT-
                        Ahmedabad, etc.</p>

                    <p>A profession in architecture is appealing, lucrative, and provides a lot of room for advancement.
                        Architects can work as freelancers or on projects in addition to being affiliated with an
                        organization. Specialization is beneficial for bettering one's chances in the field of
                        architecture,
                        as there are many factors to consider when developing a flawless model, both inside and out.
                        Architects have a wide range of job titles for which they can be engaged. Some of the popular
                        career
                        prospects are landscape architects, industrial architects, commercial architects, freelance
                        architects, urban planners, etc.</p>

                    <p>Over the last two decades, India's architecture sector has exploded. Various subdomains of
                        architecture, such as town planning, urban planning, business centres, monumental buildings, and
                        so
                        on, are given a lot of attention. Architects have a lot of career prospects because commercial
                        complexes and residential buildings are so important for day-to-day needs. Graduates are also
                        hired
                        for top public sector infrastructure projects such as roads construction, subway construction,
                        and
                        so on, with a competitive pay scale. The average starting salary for architects is 3-7 LPA,
                        depending on the hiring firm and the possessed skillset.</p>


                </div>
            </div>
        </div>
    </div>
</section>