<div class="content-wrapper">
    <section class="content-header">
        <h1>Edit Blog</h1>
    </section>
    <section class="content">
        <form>
            <div class="box box-success2">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Title<span class="req">*</span> </label>
                                <input type="text" pInputText [style]="{ width: '100%' }" placeholder="Enter Subject"
                                    maxlength="200" />
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Blog Date<span class="req">*</span> </label>

                            <p-calendar [style]="{ width: '100%','padding': '1rem !important'}" placeholder="dd-mm-yy" dateFormat="dd-mm-yy" inputId="dateformat"></p-calendar> 
                            </div>
                        </div>
                        
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                            <label>Blog Description<span class="req">*</span> </label>
                            <textarea [style]="{ width: '100%','padding': '1rem !important'}"  rows="3" cols="15" pInputTextarea placeholder="Please enter blog short description"></textarea>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Blog Details<span class="req">*</span> </label>
                                <ejs-richtexteditor id="defaultRTE" [toolbarSettings]="tools"
                                    [quickToolbarSettings]="quickTools" required 
                                    style="z-index: 100; width: 100%"></ejs-richtexteditor>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Status<span class="req">*</span> </label>
                                <div>
                                    <p-inputSwitch></p-inputSwitch>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer align-center">
                    <button pButton pRipple  type="button" class="btn link3 mx-2 p-button-outlined p-button-info" [routerLink]="['/blog']"> Back
                    </button>
                    <button pButton pRipple  type="button" class="btn link3 mx-2 p-button-info">Update</button>
                </div>
            </div>
        </form>
    </section>

</div>