<!-- <app-header *ngIf="isAdminHeader == false"></app-header>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
            <app-admin-header *ngIf="isAdminHeader == true"></app-admin-header>

            <app-admin-side-navbar *ngIf="isAdminSideNav == true"></app-admin-side-navbar>

            <router-outlet></router-outlet>

            <app-admin-footer *ngIf="isAdminFooter == true"></app-admin-footer>
   </div>
</body>

<app-footer *ngIf="isAdminFooter == false"></app-footer> -->
<router-outlet></router-outlet>


