<section class="footersection2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="copy-left">
          <p>&copy; 2022 <a href="https://www.dccil.com/#/home" target="_blank">Data Consultants Corporation</a> All
            Rights Reserved</p>
        </div>
        <div class="copy-right">
          <p>Powered by <a href="https://www.dccil.com/#/home" target="_blank">Data Consultants</a></p>
        </div>
      </div>
    </div>
  </div>
</section>