<section class="inner-banner-section inner-banner-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Privacy Policy </h1>      
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="breadcrumbs_section">
                    <ul>
                        <li><a routerLink=""><button type="submit">Home</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><button type="submit">Privacy Policy</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="innersearchsection">
    <div class="container">
        <div class="Student-List-section footer_link">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Privacy Policy </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Vidyalo (“we” or “us” or “our” or “DCC”) respect the privacy of our users (“user” or “the user”).
                        Hence, committed to maintain the privacy and accuracy of information that has been provided on
                        this site. Vidyalo will not be responsible and not accept any liability for loss incurred in
                        anyway whatsoever, by anyone who may seek to depend on the information contained herein. Vidyalo
                        adheres to ethical standards in gathering, using, and safeguarding any information the user
                        provide. DCC Services Pvt Ltd (operating under the brand name Vidyalo), is a leading IT
                        Consulting company, incorporated in India. This privacy policy governs the user use of the
                        application 'Vidyalo.com - The Learning App' ('Application'), www. Vidyalo.com ('Website') and
                        the other associated applications, products, websites and services managed by the Company.</p>

                    <p>Please read this privacy policy ('Policy') carefully before using the Application, Website, our
                        services and products, and also read carefully the Terms of Use ('ToU') provided on the
                        Application and the Website. If the user do not agree with the terms of this Policy, do not use
                        the Website, Application or avail any of our products or our Services.</p>

                    <p>This Privacy Policy does not apply to the activities of organizations not owned or controlled
                        by us, or to people who are not employed or managed by us as also in respect of information
                        required to be shared with public/private authority by operation of any applicable law, court
                        order or direction.</p>
                    <h2>Information Collection and Use</h2>
                    <p>The Application/Website/Services/products obtain the information that the user provide when the
                        user download and register for the Application or Services or products. When the user register
                        with us, the user generally provide (a) User’s name, age, email address, location, phone number,
                        and User ID credentials (b) transaction-related information, such as when the user make
                        purchases, respond to any offers, or download or use applications from us; (c) information
                        provide us when user contact us for help; (d) information entered by the user into our system
                        when using the Application/Services/products. The said information collected from the users
                        could be categorized as per defined under this Information Technology (Reasonable security
                        practices and procedures and sensitive personal data or information) Rules, 2011 (the “Data
                        Protection Rules”)) shall collectively be referred to as 'Information' in this Policy. </p>
                    <p>We may use the Information to contact the user from time to time, to provide user with the
                        Services, important information, required notices and marketing promotions. We will ask the user
                        when we need more information that personally identifies the user (personal information) or
                        allows us to contact the user. We will not differentiate between who is using the device to
                        access the Application, Website or Services or products, so long as the log in/access
                        credentials match with the user. To make the best use of the
                        Application/Website/Services/products and enable user’s Information to be captured accurately on
                        the Application/Website/Services/products, it is essential that the user have logged in using
                        the user’s own credentials. We may also use the user’s Information to process payments and
                        refunds; resolve disputes & troubleshoot problems. </p>
                    <h2>Information Sharing and Disclosure</h2>
                    <p>We do not sell, rent or share personally identifiable information made available to us. We may
                        share necessary information to other companies or people only if we have consent to share the
                        information; or we may disclose personal information if required to do so by law or in the good
                        faith belief that such disclosure is reasonably necessary to respond to court
                        orders/summons/directions, or other legal process.</p>
                    <p>We may disclose the user’s information if required by financial institutions to verify, mitigate
                        or prevent fraud or to manage risk or recover funds in accordance with applicable
                        laws/regulations.</p>
                    <p>We may share the user’s information with our affiliates, in which case we will require those
                        affiliates to honor this Privacy Policy. Affiliates include our parent company and any
                        subsidiaries, joint venture partners or other companies that we control or that are under common
                        control with us. We adopt reasonable security measures to protect the user’s password from being
                        exposed or disclosed to anyone.</p>
                    <p>The content and design of the website are the exclusive property of Vidyalo. No person can use or
                        reproduce or replicate or allow any other to use or reproduce or replicate any image or logo
                        (such as the name) for any reason without prior written consent. No person is allowed to
                        retrieve and display the content available on this website for personal, commercial and
                        non-commercial purpose, or cannot reproduce, modify or in any way to make commercial use of the
                        content. The use of content on this website without permission is strictly prohibited and will
                        be considered as a punishable offence.</p>
                    <h2>Storage And Retention Information</h2>
                    <ul class="lst_type2">
                        <li>We store the user’s data on online servers ensuring best possible protection from our end.
                            We intend to protect it in encrypted format and also take back-up at defined intervals to
                            ensure there is minimum data loss in case of any unfortunate server crash;</li>
                        <li>We retain the user’s information after we cease providing Services to the user, even if
                            the user close the user’s account, to the extent necessary to comply with our legal and
                            regulatory obligations, and for the purpose of fraud monitoring, detection, and prevention
                            and</li>
                        <li>We also retain the user’s information to comply with our tax, accounting, and financial
                            reporting obligations, where we are required to retain the data by our contractual
                            commitments to our financial partners, and where data retention is mandated by the payment
                            methods that we support. Where we retain data, we do so in accordance with any limitation
                            periods and records retention obligations that are imposed by applicable law.</li>
                    </ul>
                    <h2>Cookies Policy</h2>
                    <p>Cookies may be used on some pages of our websites. Cookies are small text files placed on a
                        visitor’s hard drive that assist us in providing a more customised website experience. For
                        example, a cookie can be used to store registration information in an area of the site so that a
                        user does not need to re-enter it on subsequent visits to that area. Our policy is to use
                        cookies to make navigation of our websites easier for visitors and to facilitate efficient
                        registration procedures. Site statistics are compiled by third parties, and therefore the
                        visitor’s IP address will be passed to third parties for statistical reporting only. Cookies are
                        primarily used to enhance the visitor’s online experience and are not used to track the
                        navigational habits of identified visitors, unless we obtain the visitor’s specific and prior
                        written permission to do so. If a visitor is concerned about cookies, most browsers permit
                        individuals to decline cookies. Reading cookies does not give us access to other information on
                        the user’s computer’s hard-drive and our Site will not read cookies created by other websites
                        that the user have visited. The user may refuse to accept cookies by activating the setting on
                        the user’s browser which allows the user to refuse the setting of cookies. If, however, the user
                        select this setting the user may be unable to access certain parts of the Site. After completion
                        of the visit to our site, a visitor can always delete the cookie from his or her system if he or
                        she wishes. These statistics are reported in the aggregate to our webmasters. This is to ensure
                        that our website enhances the web experience for visitors and is an effective information
                        resource, unless the user have adjusted the user’s browser settings so that it will refuse
                        cookies, our system will issue cookies when the user access the Site.</p>


                    <h2>Modifications</h2>
                    <p>Vidyalo reserves the right to modify or amend this statement at any time with or without notice
                        for legal, administrative and technical reasons. The effective date will be displayed at the
                        beginning of this statement.</p>


                    <h2>Jurisdiction</h2>
                    <p>If the user choose to visit the website, upon the visit if there is any dispute over privacy
                        which is subject to this Policy and Terms and Conditions of Use. In addition to the foregoing,
                        any disputes arising under this Policy shall be governed by the laws of India and exclusive
                        jurisdiction of the courts located at Kolkata.</p>


                    <h2>Grievance Policy</h2>
                    <p>Any complaints, abuse or concerns with regards to the use, processing and disclosure of
                        Information provided in this privacy policy or breach of these terms should immediately be
                        informed by mailing our grievance officer.</p>
                    <p>(Grievance officer- Information) </p>
                    <p>If any queries about our privacy practices or the implementation thereof or notice any
                        discrepancy in our database relating to the individual or individuals, he or she may address
                        such matters to (email address for support or grievance redressal team).</p>
                    <p>The user’s privacy is extremely important to us. Upon acceptance of these Terms of Use, the user
                        confirms that the user has read, understood and unequivocally accepted our Privacy Policy with
                        his/her full consent.</p>

                </div>
            </div>



        </div>
    </div>
</section>