<section class="inner-banner-section inner-banner-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Unconventional Courses</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="breadcrumbs_section">
                    <ul>
                        <li><a routerLink="/auth/home"><button type="submit">Home</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><button type="submit">Unconventional Courses</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="innersearchsection">
    <div class="container">
        <div class="Student-List-section footer_link">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Unconventional Courses</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a routerLink="/auth/unconventional-courses/architecture">
                        <div class="news_box">
                            <div class="news_box_img">
                                <img src="assets/images/course_image.jpg" alt="">
                            </div>
                            <h2>Architecture</h2>
                            <p>Architecture is a culmination of art, science, and the ability to manage the construction
                                of a building. Architects are in charge of designing homes, office spaces ...</p>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a routerLink="/auth/unconventional-courses/faShionTechnology">
                        <div class="news_box">
                            <div class="news_box_img">
                                <img src="assets/images/course_image.jpg" alt="">
                            </div>
                            <h2>Fashion Technology</h2>
                            <p>Fashion design involves applying design, aesthetics, clothing construction, and natural
                                beauty to clothing and its accessories. Different trends and cultures impact the way ...
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a routerLink="/auth/unconventional-courses/fine-arts">
                        <div class="news_box">
                            <div class="news_box_img">
                                <img src="assets/images/course_image.jpg" alt="">
                            </div>
                            <h2>Fine Arts</h2>
                            <p>Fine Arts are the study of different art forms such as drawing, sculpture, painting,
                                literature, music, dance, architecture, and theatre. Fine Arts Courses also cover ...
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a routerLink="/auth/unconventional-courses/hotel-management">
                        <div class="news_box">
                            <div class="news_box_img">
                                <img src="assets/images/course_image.jpg" alt="">
                            </div>
                            <h2>Hotel Management</h2>
                            <p>Hotel management is a detailed study of the hospitality and hotel industry. Greeting and
                                meeting people on one’s responsibility is not rocket science but also it is not as easy
                                as it seems....
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a routerLink="/auth/unconventional-courses/merchant-navy">
                        <div class="news_box">
                            <div class="news_box_img">
                                <img src="assets/images/course_image.jpg" alt="">
                            </div>
                            <h2>Merchant Navy</h2>
                            <p>A merchant naval officer's job includes traveling across the world, handling cargo,
                                inspecting ship direction, maintaining the ship, cleaning the boats, learning about ...
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a routerLink="/auth/unconventional-courses/vidyalo-content-NDA">
                        <div class="news_box">
                            <div class="news_box_img">
                                <img src="assets/images/course_image.jpg" alt="">
                            </div>
                            <h2>How to join National Defence Academy</h2>
                            <p>The National Defence Academy (NDA) is one of the premier institutions in India that
                                trains young men to become officers in the Indian Armed Forces ...
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>