<section class="body-inner">
    <div class="container-fluid">
        <div class="wrap-body" style="padding: 0;">
            <div class="login-box">
                <!-- <div class="logobox"><a href="#"><img src="assets/images/logo.png" alt=""></a> </div> -->
                <br>
                <h1>Reset Password</h1>
                <div *ngIf="errorMessageToken !== ''" class="alert alert-danger">
                  {{errorMessageToken}}
                </div>
                <div *ngIf="passwordResetErrorMessage !== ''" class="alert-danger alert">
                    {{passwordResetErrorMessage}}
                </div>
                <div *ngIf="errorMessage !== ''" class="alert-danger alert">
                  {{errorMessage}}
                </div>
                <div *ngIf="successMsg !== ''" class="alert-success alert">
                  {{successMsg}}
                </div>
                <form [formGroup]="resetPasswordForm">
                <div class="form-group has-feedback">
                  <input type="password"  class="form-control form-control2" formControlName="newPassword"
                  placeholder="Password" data-toggle="tooltip" data-placement="top" title="Password">
                  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                  <span style="font-size: 12px;font-style: italic;">[Password should be 8 - 25 character long,<br>Must contain at least one number, letter and special symbol (#,@,$)]</span>
                  <div *ngIf="isSubmitted && passwordControl.newPassword.errors" style="color: red; font-size: 12px">
                        <div *ngIf="isSubmitted && passwordControl.newPassword.errors.required">
                            This field is required
                        </div>
                        <div *ngIf="isSubmitted && passwordControl.newPassword.errors.pattern">
                            Password should be 8 - 25 character long<br> contain at least one number, letter and special symbol (#,@,$)
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                  <input type="password"  class="form-control form-control2"formControlName="confirmPassword"
                   placeholder="Confirm Password" data-toggle="tooltip" data-placement="top" title="Password">
                  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                  <div *ngIf="isSubmitted && passwordControl.confirmPassword.errors" style="color: red; font-size: 12px">
                    <div *ngIf="isSubmitted && passwordControl.confirmPassword.errors.required">
                        This field is required
                    </div>
                </div>
                </div>
                
                <br>
                <div class="form-group">
                  <button type="button" (click)="resetPassword()" class="pull-left btn link1">Submit</button>
                  <div class="clearfix "></div>
                </div>
              </form>
              </div>
                
            <div class="clearfix "></div>

        </div>
    </div>
</section>