<section class="inner-banner-section inner-banner-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Fine Arts</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="breadcrumbs_section">
                    <ul>
                        <li><a routerLink="/auth/home"><button type="submit">Home</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><a routerLink="/auth/unconventional-courses"><button type="submit">Unconventional
                                    Courses</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><button type="submit">Fine Arts</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="innersearchsection">
    <div class="container">
        <div class="Student-List-section footer_link">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Fine Arts: Find out about fine arts as a career choice and how to pursue it.</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


                    <p>Fine Arts are the study of different art forms such as drawing, sculpture, painting, literature,
                        music, dance, architecture, and theatre. Fine Arts Courses also cover other fields such as
                        Photography, Graphic Design, Interior Design, Drawing, etc. Aspirants seeking to pursue B.F.A
                        must
                        possess excellent creative, artistic, visualization, and presentation skills. If you complete
                        your
                        graduation with a BFA specialization, you will not only gain a formal education in your chosen
                        field, but you will also learn creative skills.</p>

                    <p>Bachelor of Fine Arts, BFA in various specializations like Painting, Applied Arts, Master of Fine
                        Arts, MFA, Diploma in Fine Arts, PhD in Fine Arts are fine arts courses after class 12th.
                        Banaras
                        Hindu University, Jamia Millia Islamia, Delhi University, JNU Delhi, Delhi College of Arts and
                        Commerce, and Aligarh Muslim University are <strong>Top Fine Arts Colleges in India.</strong>
                    </p>

                    <p>Students from any stream after class 12 can pursue bachelor's level fine arts courses, and
                        masters
                        in fine arts after graduation in arts or related disciplines. BHU UET, ITM NEST, JMI Entrance
                        Exam,
                        AMU Entrance Exam, and AUCET are some entrance exams for admission to top fine arts colleges.
                        According to Glassdoor, the average salary offered in the domain of Fine Arts is around INR
                        7,35,690
                        per annum in India.</p>


                    <h3>Career in Fine Arts</h3>
                    <p>After completing Fine Arts Courses, one can either apply for jobs or go for higher studies in
                        India as well as abroad. Here are some scopes post-completion of the courses in India and
                        abroad.</p>

                    <ul class="lst_type2">
                        <li>After the completion of Fine Arts courses at the undergraduate level, candidates can opt
                            for
                            Postgraduate courses in Fine Arts and afterward for Ph.D. Courses in the same.</li>
                        <li>After completing PhD, one can become Art Professor or Teacher in Universities and
                            Colleges.</li>
                        <li>Students can also study short-term Certification courses in Fine Arts to advance their
                            skills and
                            knowledge to keep themselves updated in the field of their interest.</li>
                        <li>Student can become Art Director, Photographer, Graphic Designer, Animator, Sculptor and
                            Fine
                            artist.</li>
                    </ul>

                    <h3>Fine Arts Course Details</h3>

                    <ul class="lst_type2">
                        <li>Fine Arts courses are a study of the creation of diverse visual forms of art such as
                            Photography, Drama, Painting, Sculptures, Architecture, Theatres, etc.</li>
                        <li>One can pursue Fine Arts courses at different levels of study such as Certification, UG, PG,
                            Diploma, and Doctorate.</li>
                        <li>Some of the most sought-after Fine Arts courses are Certificate Course in Music, Certificate
                            Course in Handloom Weaving and Handicraft, Diploma in Fine Arts, Bachelor of Fine Arts, etc.
                        </li>
                        <li>The average fees of Fine Arts courses can range anywhere from INR 1,000 to INR 3,00,000 in
                            India.</li>
                        <li>Top Colleges offering Fine Arts courses in India are Banasthali Vidyapeeth Jaipur,
                            University of Lucknow, Amity University Lucknow, Tilak Maharashtra Vidyapeeth Pune, etc.
                        </li>
                    </ul>

                    <h3>Fine Arts Courses in India</h3>

                    <p>Fine Arts can be pursued by candidates at multiple levels, that is, after 10th, after 12th, and
                        after Graduation as well. Below we have provided lists of Fine Arts courses at different levels
                        along with their duration and average fees.</p>

                    <h3>Fine Arts Courses After 10th</h3>

                    <p>After completing class 10th, students can pursue Fine Arts courses in numerous specializations
                        such
                        as Graphic Design, Sculpture, etc. at UG Diploma and Certification levels.</p>

                    <p>Below we have provided a tabular representation of some top Fine Arts courses after the 10th
                        along
                        with their duration and average fees.</p>

                    <div class="table-responsive">
                        <table class="table table-bordered">

                            <thead>
                                <tr>
                                    <th width="">Course Name</th>
                                    <th width="150">Duration</th>
                                    <th width="150">Average Fees</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Certificate Course in Fine Arts </td>
                                    <td>3 months </td>
                                    <td>INR 55,000 </td>
                                </tr>
                                <tr>
                                    <td>Certificate in Crafting Creative Communications (CCC) </td>
                                    <td>1 year</td>
                                    <td>INR 8,50,000 </td>
                                </tr>
                                <tr>
                                    <td>Certificate Course in Drawing and Animation </td>
                                    <td>8 months </td>
                                    <td>INR 20,000 </td>
                                </tr>
                                <tr>
                                    <td>Certificate in Visual Arts: Applied Arts (CVAA) </td>
                                    <td>1 year </td>
                                    <td>INR 3,600 </td>
                                </tr>
                                <tr>
                                    <td>Certificate in Plate Making and Offset Printing </td>
                                    <td>1 year </td>
                                    <td>INR 3,450 </td>
                                </tr>
                                <tr>
                                    <td>Certificate in Performing and Visual Arts </td>
                                    <td>1 year </td>
                                    <td>INR 7,000 </td>
                                </tr>
                                <tr>
                                    <td>Certificate in Visual Arts: Sculpture (CVAS) </td>
                                    <td>1 year </td>
                                    <td>INR 4,000 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h3>Fine Arts Courses After 12th</h3>
                    <p>After completing class 12th, students can pursue Fine Arts courses in various specializations
                        such as Interior Design, Folk Music and Art, etc. at Diploma and Undergraduate levels. </p>

                    <p>Below we have provided a tabular representation of some top Fine Arts courses after the 12th
                        along with their duration and average fees.</p>


                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="">Course Name</th>
                                    <th width="150">Duration</th>
                                    <th width="150">Average Fees</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Diploma in Fine Arts </td>
                                    <td>1 year </td>
                                    <td>INR 40,000 </td>
                                </tr>
                                <tr>
                                    <td>Diploma in Music </td>
                                    <td> 1 year </td>
                                    <td>INR 15,000 </td>
                                </tr>
                                <tr>
                                    <td>Diploma in Art and Craft </td>
                                    <td>1-2 years </td>
                                    <td>INR 9,000 </td>
                                </tr>
                                <tr>
                                    <td>Diploma in Performing Arts </td>
                                    <td>1 year </td>
                                    <td> INR 7,000 </td>
                                </tr>
                                <tr>
                                    <td>Advanced Diploma in Carnatic Music (Vocal) </td>
                                    <td>3 years </td>
                                    <td>-- </td>
                                </tr>
                                <tr>
                                    <td>Bachelor of Fine Arts (BFA) </td>
                                    <td>3-4 years </td>
                                    <td>INR 30,000 </td>
                                </tr>
                                <tr>
                                    <td>Bachelor of Fine Arts (BFA) in Applied Arts </td>
                                    <td>4 years </td>
                                    <td>INR 7,00,000 </td>
                                </tr>
                                <tr>
                                    <td>BFA Painting </td>
                                    <td>3 years </td>
                                    <td>INR 30,000 </td>
                                </tr>
                                <tr>
                                    <td>Bachelor of Visual Arts (BVA) </td>
                                    <td>3 years </td>
                                    <td>INR 50,000 </td>
                                </tr>
                                <tr>
                                    <td>BVA Applied Arts </td>
                                    <td> 3 years </td>
                                    <td>INR 35,000 </td>
                                </tr>
                                <tr>
                                    <td>BA in Fine Arts </td>
                                    <td> 3 years </td>
                                    <td>INR 1,00,000 </td>
                                </tr>
                                <tr>
                                    <td>BA in Drawing and Painting </td>
                                    <td>3 years </td>
                                    <td>INR 10,000 </td>
                                </tr>
                                <tr>
                                    <td>BFA in Painting </td>
                                    <td>3 years </td>
                                    <td>INR 60,000 </td>
                                </tr>
                                <tr>
                                    <td>BFA Digital Art </td>
                                    <td>4 years </td>
                                    <td>INR 20,000 </td>
                                </tr>
                                <tr>
                                    <td>BFA in Photography </td>
                                    <td>3-4 years </td>
                                    <td> INR 40,000 </td>
                                </tr>
                                <tr>
                                    <td>BA Music (Vocal) </td>
                                    <td> 3 years </td>
                                    <td>INR 1,00,000 </td>
                                </tr>
                                <tr>
                                    <td>Bachelor of Performing Arts (BPA) </td>
                                    <td>3-4 years </td>
                                    <td> INR 1,00,000 </td>
                                </tr>
                                <tr>
                                    <td>BA in Dance </td>
                                    <td>3 years </td>
                                    <td> INR 1,32,000 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h3>Fine Arts Courses After Graduation</h3>

                    <p>After completing graduation, students can pursue Fine Arts courses in numerous specializations
                        such
                        as Applied Arts, Sculpture, Painting, etc. at PG Diploma, Postgraduate, and Ph.D. levels.</p>

                    <p>Below we have provided a tabular representation of Fine Arts courses after Graduation along with
                        their duration and average fees.</p>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="">Course Name</th>
                                    <th width="150">Duration</th>
                                    <th width="150">Average Fees</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PG Diploma in Fine Arts</td>
                                    <td>2 years</td>
                                    <td>INR 60,000</td>
                                </tr>
                                <tr>
                                    <td>Master of Fine Arts (MFA)</td>
                                    <td>2 years</td>
                                    <td> INR 1,10,000</td>
                                </tr>
                                <tr>
                                    <td>MA Fine Arts</td>
                                    <td> 2 years</td>
                                    <td> INR 1,02,000</td>
                                </tr>
                                <tr>
                                    <td>MFA Applied Arts</td>
                                    <td> 2 years</td>
                                    <td>INR 40,000</td>
                                </tr>
                                <tr>
                                    <td>MFA Painting</td>
                                    <td>2 years</td>
                                    <td> INR 1,05,000</td>
                                </tr>
                                <tr>
                                    <td>MFA Ceramics</td>
                                    <td>2 years</td>
                                    <td>INR 40,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>






                    <h3>Fine Arts Courses Distance Education </h3>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="">College</th>
                                    <th width="">Courses</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>Indira Gandhi National Open University </td>
                                    <td>Performing and Visual Arts (SOPVA) </td>
                                </tr>
                                <tr>
                                    <td>Annamalai University </td>
                                    <td>Certificate Programme in Music and Dance </td>
                                </tr>
                                <tr>
                                    <td>Karnataka State Open University </td>
                                    <td>Bachelors in Arts </td>
                                </tr>
                                <tr>
                                    <td>Jamia Millia Islamia </td>
                                    <td> Master of Fine Arts</td>
                                </tr>
                                <tr>
                                    <td>Allahabad Agricultural Institute </td>
                                    <td>Music Certificate </td>
                                </tr>
                                <tr>
                                    <td>Bharathiar University </td>
                                    <td>Master of Fine Arts </td>
                                </tr>
                                <tr>
                                    <td>Alagappa University </td>
                                    <td>Bachelor of Fine Arts </td>
                                </tr>
                                <tr>
                                    <td>Jain Vishva Bharati Institute </td>
                                    <td>Master of Fine Arts </td>
                                </tr>
                                <tr>
                                    <td>University of Calicut </td>
                                    <td>Master of Fine Arts </td>
                                </tr>
                                <tr>
                                    <td>Yashwantrao Chavan Maharashtra Open University </td>
                                    <td>Certificate in Arts </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <h3>Fine Arts Courses Online</h3>

                    <p>The growing demand for Fine Arts courses has increased its areas in the online mode of study too.
                        Students who want to learn Fine Arts Courses Online from the comfort of their homes get many
                        course
                        options in various specializations from different platforms like Coursera, Udemy, etc.</p>

                    <p>Below we have tabulated some top Fine Arts Courses Online along with the platform offering the
                        course, its duration, and average fees.</p>

                    <div class="table-responsive break-spaces_box">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="">Course Name and Platform</th>
                                    <th width="">Duration</th>
                                    <th width="">Average Fees</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>The Ultimate Drawing Course: Beginner to Advanced by Udemy </td>
                                    <td>11 hours </td>
                                    <td>INR 490 </td>
                                </tr>
                                <tr>
                                    <td>Diploma in Sketching and Oil Painting by the National Institute of Fine Arts
                                    </td>
                                    <td>6 months </td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Diploma in Fine Arts and Drawing Certification by Udemy </td>
                                    <td>3.5 hours </td>
                                    <td>INR 490 </td>
                                </tr>
                                <tr>
                                    <td>Modern Art and Contemporary Art and Design by Coursera </td>
                                    <td>7 months </td>
                                    <td>Free Enrollment </td>
                                </tr>
                                <tr>
                                    <td>How to Paint From Beginner to Master- Acrylic Painting by Udemy </td>
                                    <td> 21 hours</td>
                                    <td> INR 490</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <h3>Fine Arts Courses Online Free</h3>

                    <p>Another advantage of pursuing Fine Arts Courses Online is that students can pursue them for free
                        of
                        cost too. Top online educational platforms like Coursera, Alison, etc. are known for offering
                        free
                        online courses. </p>
                    <p> Below we have tabulated some top platforms offering Fine Arts Courses online for free along with
                        the
                        course duration and average fees.</p>

                    <div class="table-responsive break-spaces_box">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="">Course Name</th>
                                    <th width="">Platform Offering</th>
                                    <th width="">Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Great Artists and Their Works</td>
                                    <td>Alison</td>
                                    <td>1.5 to 3 hours</td>
                                </tr>
                                <tr>
                                    <td>Graphic Design Specialization</td>
                                    <td>Coursera</td>
                                    <td>6 months</td>
                                </tr>
                                <tr>
                                    <td>Print Production</td>
                                    <td>Alison</td>
                                    <td>1.5 to 3 hours</td>
                                </tr>
                                <tr>
                                    <td>Game Design: Art and Concept</td>
                                    <td>Coursera</td>
                                    <td>6 months</td>
                                </tr>
                                <tr>
                                    <td>Colour Theory For Artists and Designers</td>
                                    <td>Alison</td>
                                    <td>3 to 4 hours</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>




                    <h3>Other Universities-DU</h3>

                    <ul class="lst_type2">
                        <li>The College of Art at Delhi University offers Bachelor's and Master's Degrees in Fine Arts
                            in a variety of specializations such as Applied Art, Painting, and Visual Communication.
                        </li>

                        <li>Every year, the college offers a full-time four-year Bachelor of Fine Arts degree and a
                            full-time two-year Master of Fine Arts degree to undergraduate students.</li>

                        <li>The candidate must have at least a 50% aggregate in the Senior School Certification
                            Examination to be eligible. Students who have passed the Pre-University examination of an
                            Indian board that is recognized by the University of Delhi are also eligible for admission
                            to the BFA program</li>

                        <li>Candidates must have completed a Bachelor of Fine Arts Degree from a recognized university
                            in the relevant specialization after 10+2 or an equivalent examination from a recognized
                            board of education to be eligible for the MFA program.</li>

                        <li>Candidates with prior experience in their field of interest will be given preference. They
                            must submit a proposal report on their preferred specialization, complete with visuals,
                            slides, and other materials, indicating their intent to enrol in the course.</li>
                    </ul>

                    <p>Below are some common course fields which students can pursue at Delhi University:</p>


                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Art History</td>
                                    <td>Applied Art</td>
                                </tr>
                                <tr>
                                    <td>Printmaking</td>
                                    <td>Painting</td>
                                </tr>
                                <tr>
                                    <td>Visual Communications</td>
                                    <td>Sculpture</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>









                    <h3>Eligibility Criteria for Fine Arts Courses</h3>

                    <p>The academic eligibility requirements for pursuing Fine Arts Courses in India can differ from the
                        one-course level or one university to the other. Below we have given a detailed tabular
                        representation of Fine Arts Courses Eligibility Criteria at different course levels. </p>

                    <div class="table-responsive break-spaces_box">
                        <table class="table table-bordered">
                            <thead>
                                <tr>

                                    <th width="">Fine Arts Courses</th>
                                    <th width="">Eligibility Criteria</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Certificate Fine Arts Courses</td>
                                    <td>To be eligible for pursuing Certificate Fine Arts courses, the general
                                        eligibility requirement for students is to have at least passed their class 10th
                                        or class 12th from a recognized board in any stream (Arts, Science or Commerce).
                                    </td>
                                </tr>
                                <tr>
                                    <td>Diploma Fine Arts Courses</td>
                                    <td>For Diploma courses in Fine Arts, a student must have passed their 10+2 with at
                                        least 50% marks in any stream from a recognized board</td>
                                </tr>
                                <tr>
                                    <td>Undergraduate Fine Arts Courses</td>
                                    <td>For pursuing Undergraduate level courses in Fine Arts, a student must have
                                        passed their 10+2 with at least 50% marks in any stream with English and/or
                                        Hindi as core subjects from a recognized board.</td>
                                </tr>
                                <tr>
                                    <td>Postgraduate Fine Arts Courses</td>
                                    <td>The eligibility requirements for pursuing Postgraduate level courses in Fine
                                        Arts is that a student must be a bachelor's degree holder in Fine Arts or BA
                                        from&nbsp;a recognized university with at least 50% to 60% marks.</td>
                                </tr>
                                <tr>
                                    <td>Doctorate Fine Arts Courses</td>
                                    <td>The eligibility requirement for pursuing Doctorate level courses in Fine Arts is
                                        that a student must be a master's degree holder in Fine Arts from a recognized
                                        university with at least 55% marks.</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <h3>Fine Arts Colleges in India</h3>

                    <p>A number of colleges and universities offer Fine Arts Courses in India at UG, PG, Certificate,
                        Diploma, and Ph.D. levels of study. Below we have categorized some top Fine Arts Colleges in
                        India along with the courses based on the cities they are located in.</p>


                    <h3>Fine Arts Colleges in Chennai</h3>

                    <div class="table-responsive break-spaces_box">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="">College Name</th>
                                    <th width="">Course Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Stella Maris College, Chennai</td>
                                    <td>BA (History of Fine Arts) </td>
                                </tr>
                                <tr>
                                    <td>VELS Institute of Science, Technology and Advanced Studies, Chennai</td>
                                    <td>Diploma in Fine Arts </td>
                                </tr>
                                <tr>
                                    <td> DOT School of Design, Chennai</td>
                                    <td>Bachelor of Fine Arts </td>
                                </tr>
                                <tr>
                                    <td>Institute of Design, Chennai</td>
                                    <td>UG Diploma in Fine Arts </td>
                                </tr>
                                <tr>
                                    <td>Dr. MGR Educational and Research Institute, Chennai</td>
                                    <td>BA Fine Arts </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                    <h3>Fine Arts Colleges in Mumbai</h3>



                    <div class="table-responsive break-spaces_box">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="">College Name</th>
                                    <th width="">Course Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mumbai University</td>
                                    <td>BA (History of Fine Arts)</td>
                                </tr>
                                <tr>
                                    <td>Amity University, Mumbai</td>
                                    <td>MA Fine Arts</td>
                                </tr>
                                <tr>
                                    <td>GICED Mumbai</td>
                                    <td>Bachelor of Fine Arts</td>
                                </tr>
                                <tr>
                                    <td>SNDT Mumbai</td>
                                    <td><br>
                                        MA Fine Arts</td>
                                </tr>
                                <tr>
                                    <td>WLCI Fashion College, Mumbai</td>
                                    <td>BA Fine Arts</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                    <h3>Fine Arts Colleges in Bangalore</h3>


                    <div class="table-responsive break-spaces_box">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="">College Name</th>
                                    <th width="">Course Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jain University, Bangalore </td>
                                    <td>PG Diploma in Fine Arts</td>
                                </tr>
                                <tr>
                                    <td>Presidency University, Bangalore </td>
                                    <td>Ph.D. Fine Arts</td>
                                </tr>
                                <tr>
                                    <td>Bangalore University </td>
                                    <td>MA Fine Arts</td>
                                </tr>
                                <tr>
                                    <td>Bengaluru Central University, Bangalore </td>
                                    <td>BA Fine Arts</td>
                                </tr>
                                <tr>
                                    <td>Bharatiya Vidya Bhawan, Bangalore </td>
                                    <td>UG Diploma Fine Arts</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                    <h3>Fine Arts Colleges in Delhi</h3>



                    <div class="table-responsive break-spaces_box">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="">College Name</th>
                                    <th width="">Course Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Delhi University College of Art, New Delhi</td>
                                    <td>Bachelor of Fine Arts</td>
                                </tr>
                                <tr>
                                    <td>Jamia Millia Islamia University, New Delhi</td>
                                    <td>MA Fine Arts</td>
                                </tr>
                                <tr>
                                    <td>Jawaharlal Nehru University, New Delhi</td>
                                    <td>BA Fine Arts</td>
                                </tr>
                                <tr>
                                    <td>National School of Drama, New Delhi</td>
                                    <td>Graduate Diploma in Fine Arts</td>
                                </tr>
                                <tr>
                                    <td>IGNOU New Delhi</td>
                                    <td>Diploma in Fine Arts</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>