<section class="inner-banner-section inner-banner-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Refund & Cancellation Policy</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="breadcrumbs_section">
                    <ul>
                        <li><a routerLink=""><button type="submit">Home</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><button type="submit">Refund & Cancellation Policy</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="innersearchsection">
    <div class="container">
        <div class="Student-List-section footer_link">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Refund & Cancellation Policy</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <h2>1. Online Application Fee (application form charges, Convenience fee, Taxes) for Application
                        Forms for Admission:</h2>
                    <p>There will be no refund for any application fee processed in order to complete an application
                        form. It is the responsibility of the application to ensure that all applications are accurately
                        and completely filled in at the time of submitting the application. Applications will not be
                        amended in any way after submission and there will be no refund processed for cancellation of an
                        application.</p>

                    <h2>2. Online Admission fee Payment for School Enrollment:</h2>
                    <p>Applicants are required to pay the fees for the academic year once they are offered admission and
                        prior to the review of documents. If any of the documentation presented to the institution is
                        found to be fabricated, erroneous or otherwise inaccurate in any way, the Institute has the
                        right to reject the application and rescind the offer of admission. In this case, the enrollment
                        and tuition fees will be refunded per the existing guidelines of the Department of Education.
                        There will be no transfer of fees paid to any other applicant or student.</p>

                    <h2>3.Payment Gateway Error :</h2>
                    <p>Any refund request pertaining to payment gateway error will be processed within 45 days, subject
                        to confirmation of the same from payees account.</p>

                    <h2>4. NO Refund under the following situations:</h2>
                    <ul class="lst_type2">
                        <li>Payment made twice for the same candidate in the same class(same school) and both of them
                            made through same account</li>
                        <li>Payment made twice for the same candidate in the same class(same school) and both of them
                            made through two different account</li>
                        <li>Application made for a different class</li>
                        <li>Application made for a different school</li>
                        <li>Applied by mistake</li>
                        <li>Incorrect data in the application form</li>
                        <li>Update data/information in the application form</li>
                        <li>Unable to submit application form & other details to school within stipulated time period
                        </li>
                        <li>School refused to accept Application Form</li>
                        <li>Distance far away from school</li>
                        <li>The standard of the school is not desirable</li>
                        <li>Change of mind</li>
                        <li>Name in application Form/Challan is wrong</li>
                        <li>Unable to download Application Form</li>
                        <li>Unable to bear school fees</li>
                        <li>Wrong email id</li>
                        <li>Wrong DOB</li>
                        <li>Due to Any Natural Calamity/ Pandemic Outbreak</li>
                        <li>Nobody accepted the Application Form in school, as the school was closed</li>
                        <li>Application made for a wrong school</li>
                        <li>No communication/update was made from school after filling up the Application Form</li>
                        <li>Selection of wrong stream for Class XI</li>
                        <li>Discontinuation of schooling</li>
                        <li>Admission already done in another school</li>
                    </ul>

                    <p>However, Refunds will be processed on request if a suitable reason is provided, please email
                        us at , refund processing time can vary from 7 Days to 60 days as the school needs to
                        confirm the same.</p>

                </div>
            </div>
        </div>
    </div>
</section>