<section class="inner-banner-section inner-banner-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Scholarships Programs</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="breadcrumbs_section">
                    <ul>
                        <li><a routerLink="/auth/home"><button type="submit">Home</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><button type="submit"></button>Scholarships Programs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="innersearchsection">
    <div class="container">
        <div class="Student-List-section footer_link">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Scholarships Programs</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a routerLink="/auth/scholarships-programs/study-abroad">
                        <div class="news_box">
                            <div class="news_box_img">
                                <img src="assets/images/course_image.jpg" alt="">
                            </div>
                            <h2>How to Study Abroad after class 12</h2>
                            <p>It would be a dream for many students to join a prestigious world-class college abroad
                                and settle there with a high-paying job after completing school ...</p>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a routerLink="/auth/scholarships-programs/top-Indian-government-Scholarships">
                        <div class="news_box">
                            <div class="news_box_img">
                                <img src="assets/images/course_image.jpg" alt="">
                            </div>
                            <h2>Top 7 Indian Government Scholarships that International Students Must Keep in Mind</h2>
                            <p>You’ll be delighted to learn that the Indian government provides several scholarships to
                                help Indian students seeking rewarding career opportunities abroad ...
                            </p>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>