<div class="content-wrapper">
    <p-messages></p-messages>
    <section class="content-header">
        <h1>Guardian enquiry list</h1>
    </section>
    <section class="content">
        <form [formGroup]="guardianEnquirySearchForm">
            <div class="box box-success2">
                <div class="box-body">
                    <div class="searchsection3">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <input
                                        type="text"
                                        formControlName="name"
                                        placeholder="Guardian's Name"
                                        class="form-control"
                                />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <input
                                        type="email"
                                        formControlName="email"
                                        placeholder="Guardian's Email"
                                        class="form-control"
                                />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <input
                                        type="text"
                                        formControlName="phone"
                                        placeholder="Phone Number"
                                        class="form-control"
                                />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <input
                                        type="text"
                                        formControlName="city"
                                        placeholder="City"
                                        class="form-control"
                                />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <button
                                      (click)="searchGuardianEnquiryList()"
                                       type="button"
                                       class="btn btn-success"
                                >Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="box box-success2">
            <div class="box-header with-border bor">
                <div class="pull-left">
                    <div class="Showingbox">
                        <div class="pull-left drop">
                            <select  class="form-control" #limit (change)="getallGuardiansEnquirylist(limit.value)">
                                <option value="25" ng-reflect-value="25">25</option>
                                <option value="50" ng-reflect-value="50">50</option>
                                <option value="100" ng-reflect-value="100">100</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="box-body">
                <div class="tablesection">
                    <div class="table-responsive">
                        <table class="table table-striped" matSort matSortDirection="desc" matSortDisableClear>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>City</th>
                                    <th>Postal Code</th>
                                    <th>Created Date</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of guardianEnquiryList 
                                    | paginate: {
                                    id: 'guardianEnquiryList',
                                    itemsPerPage: itemsPerPage,
                                    currentPage: currentPage,
                                    totalItems: guardianEnquiryListSize}; let i = index">
                                    <td><button [routerLink]="['/guardian-enquiry/guardian-enquiry-view', item.id]" class="btn btn-link text-light-blue">{{item?.firstName}} {{item?.lastName}}</button></td>
                                    <td>{{item?.email}}</td>
                                    <td>{{item?.phone | phonePipe}}</td>
                                    <td>{{item?.city || "-"}}</td>
                                    <td>{{item?.postalCode || "-"}}</td>
                                    <td>{{item?.createdTs | date:"d MMM y" : "UTC"}}</td>
                                    <td>
                                        <p-confirmPopup [style]="{width: '25vw'}"></p-confirmPopup>
                                        <span><button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-lg p-button-outlined" (click)="confirm($event,item?.id)"></button></span>
                                    </td>                
                                </tr>
                            </tbody>
                        </table>
                        <div class="paginationsectionbox">
                            <span *ngIf="!isEmpty" class="Showingboxto">
                                Showing {{ currentPageStartingIndex }} to
                                {{ currentPageEndingIndex }} of
                                {{ guardianEnquiryListSize }} results
                            </span>
                            <span *ngIf="isEmpty">No records found.</span>
                            <pagination-controls *ngIf="!isEmpty" class="pagination" id="guardianEnquiryList" (pageChange)="handlePageChange($event)">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>