div.stars {
    width: 270px;
    display: inline-block;
  }
.p-button.p-button-icon-only.p-button-rounded {
    height: 3.35rem !important;
    width: 3.3rem !important;
}
small {
  font-size: 73%;
  color: var(--gray-600);
}