<section class="inner-banner-section inner-banner-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Scholarships Programs in India </h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="breadcrumbs_section">
                    <ul>
                        <li><a routerLink="/auth/home"><button type="submit">Home</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><a routerLink="/auth/study-abroad"><button type="submit">Scholarships Programs</button></a>
                        </li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><button type="submit">Scholarships Programs in India</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="innersearchsection">
    <div class="container">
        <div class="Student-List-section footer_link">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Scholarships Programs in India</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
 
                    <h3>Scholarships programs provided for higher studies for Indian students.</h3>


                    <p><strong>1. Objective</strong> <br>
                        To provide financial assistance to meritorious students from poor families to meet a part of
                        their day-to-day expenses while pursuing higher studies.</p>
                    <p><strong>2. Scope </strong> <br>
                        The scholarships are awarded by Ministry of Education, Government of India on the basis of
                        results of Higher Secondary / Class XII Board Examination. A maximum of 82,000 fresh
                        scholarships per annum are provided for pursuing graduate / postgraduate degree in colleges and
                        universities and for professional courses, such as Medical, Engineering etc.</p>
                    <p><strong>3. Allocation of Scholarship</strong><br>
                        The total number of scholarships are divided amongst the State Education Boards based on the
                        State&rsquo;s population in the age group of 18-25 years, after segregating share of CBSE and
                        ICSE on the basis of number of students passing out from various Boards in the country. 50% of
                        the scholarships are earmarked for girls. Out of the total scholarship slots earmarked for UTs
                        of Jammu &amp; Kashmir and Ladakh, 3% slots shall be earmarked for the students from the UT of
                        Ladakh. The number of scholarships allotted to a State Education Board is distributed amongst
                        pass outs of the Humanities, Science and Commerce streams in the ratio of 3:3:1. In case of
                        shortfall in the number of applications, the scholarship slots shall be interoperable among
                        categories (Gen, OBC, SC &amp; ST), gender (Female, Male) and State Quota to maximize use of
                        slots for fresh scholarships with effect from academic year 2022-23, subject to the condition
                        that guidelines of Ministry of Finance and NITI Aayog regarding SC/ST fund allocation of the
                        schemes are adhered to.</p>
                    <p><strong>4. Eligibility for Scholarship</strong> </p>
                    <ul class="lst_type2">
                        <li>Students who are above 80th percentile of successful candidates in the relevant stream from
                            the respective Board of Examination in Class XII of 10+2 pattern or equivalent;</li>
                        <li>Pursuing regular degree courses and <strong>not </strong>correspondence or distance mode or
                            pursuing Diploma courses;</li>
                        <li>Pursuing courses at colleges/institutions recognized by All India Council for Technical
                            Education and respective Regulatory Bodies concerned;</li>
                        <li>Not availing benefit of any other scholarship schemes including State run scholarship
                            schemes/ fee waiver &amp; reimbursement scheme;</li>
                        <li>Students with gross parental/family income upto <strong>Rs. 4.5 lakh per annum </strong>are
                            eligible for scholarship under the scheme. Income certificate will be required only for the
                            fresh applicants;</li>
                        <li>Student changing his/ her college/institute of study will be allowed to continue/renew the
                            scholarship provided the course of study and the institution is having valid AISHE Code; The
                            AISHE code can be checked in the portal <a
                                href="https://aishe.gov.in/aishe/aisheCode">https://aishe.gov.in/aishe/aisheCode</a>
                        </li>
                        <li>Students who missed to apply for renewal of application online on NSP will be allowed to
                            apply for renewal of scholarship for subsequent year on NSP, if he/she fulfils eligibility
                            condition for renewal;</li>
                        <li>For renewal of scholarship in each year of study, besides getting at least 50% marks in the
                            Annual Examination, maintenance of adequate attendance of at least 75%, will also be the
                            criteria. Complaints against the student regarding any in disciplined or criminal behaviour
                            including any complaints of having indulged in ragging, will lead to forfeiture of
                            scholarship;</li>
                        <li>Beneficiaries/ Applicants under the scheme must apply online in the National Scholarships
                            Portal (www.scholarships.gov.in) for the fresh/ renewal scholarships. Fresh/Renewal
                            applications sent directly to the Ministry of Education shall not be accepted.</li>
                    </ul>
                    <p><strong>5. Reservation </strong> <br>
                        Students belonging to reserved categories/weaker sections /minorities etc. are eligible to get
                        benefit of reservation on the basis of merit, subject to Central Reservation Policy [i.e. 15%
                        seats are earmarked for SCs, 7.5% for STs and 27 % for OBCs and 5% horizontal reservation for
                        Persons with Disabilities (PwDs) in all the categories]. The Central Reservation Policy will be
                        applicable in filling the slots against each year's target. If slots under a specific group is
                        not filled after considering all the States/UTs, the vacant slots will be allocated to other
                        categories so that maximum number of eligible students can get the benefit, subject to overall
                        ceiling of slots.</p>
                    <p><strong>6. Procedure for Application</strong> </p>
                    <ul class="lst_type2">
                        <li>The applications are received online only. Verification of credentials of the students like
                            caste, educational qualifications etc. are done through DIGILOCKER facility of the MeITY,
                            Govt. of India.</li>
                        <li>National Scholarships Portal (NSP) (www.scholarships.gov.in) will provide the timelines for
                            opening &amp; closing of the portal.</li>
                        <li>The Guidelines for application, verification, selection and disbursement of scholarships
                            will be as per the NSP.</li>
                        <li>Selection list would be generated/displayed on NSP.</li>
                        <li>Online applications will be verified at two levels i.e. by the Institute, where the student
                            is studying and thereafter by the concerned State Higher Education Department or any other
                            Agency/ Official nominated by the State as State Nodal Agency (both for fresh and renewal
                            applicants).</li>
                        <li>Latest guideline on Timelines will be made available on NSP.</li>
                        <li>Students will not be permanently debarred for scholarships due to delay to renew or
                            verification. However, students will have to submit renewal applications within a cut-off
                            date. Renewal for that year will not be allowed if an applicant misses this deadline.</li>
                    </ul>
                    <p><strong>7. Rate and Duration of Scholarship (from financial year 2022-23)</strong><br>
                        The rate of scholarship is Rs.12,000/-per annum at Graduation level for first three years of
                        College and University courses and Rs.20,000/-per annum at Post- Graduation level. Students
                        pursuing professional courses, in case, where the duration of course is five (5)
                        years/Integrated course will get Rs. 20,000/-per annum in the 4th and 5th year. However,
                        students pursuing technical courses such as B.Tech, B.Engg. will get scholarship up to
                        graduation level only i.e. Rs. 12,000 p.a. for 1st, 2nd and 3rd year and Rs. 20,000 in the 4th
                        year.<br>
                        <strong>Note: </strong>The rate of scholarship is Rs.10,000/-per annum for first three years of
                        fresh/ renewal scholarships with respect to academic year 2021-22, even if the actual release
                        happens in FY 2022-23.
                    </p>
                    <p><strong>8. Payment of Scholarship </strong> <br>
                        Students are required to have the bank accounts opened, especially, in their name for availing
                        the benefits under the scheme. The scholarship will be disbursed directly into the savings bank
                        accounts of the beneficiaries through Direct Benefit Transfer (DBT)<br>
                        mode. The student can track their payment status from the template &ldquo;Know Your
                        Payment&rdquo;    in    the    Public    Financial    Management    System    (PFMS)    portal [
                        https://pfms.nic.in/Users/LoginDetails/Login.aspx] either by indicating Aadhaar number or bank 
                        account number or NSP Application ID.</p>
                    <p><strong>9. For Colleges/Universities </strong> <br>
                        College and Universities will apprise the students about the &ldquo;PM-USP CSSS&rdquo; during
                        admission. Aadhaar based authentication of Institute Nodal Officer (INO)/ State Nodal Officer
                        (SNO) is mandatory for every Institution/State before verification of the applications. INO/SNO
                        should be a regular employee.</p>
                    <p><strong>10. For State Government/State Boards</strong> <br>
                        Adequate publicity of the scheme may be initiated through the Schools/ Colleges/ Institutions to
                        create awareness and to facilitate/ assist the applicants in rural area to apply for scholarship
                        online on NSP.</p>
                    <p><strong>11. Grievance Redressal</strong><br>
                        In case of any grievances/complaint regarding the above scheme, the same may be registered to
                        the following link:<br>
                        <a href="http://pgportal.gov.in/grievancenew.aspx">http://pgportal.gov.in/grievancenew.aspx</a>
                        <br>
                        other than to the Nodal Officer whose email is available on NSP portal (Services Tab).
                    </p>

                    <h3>Scholarships for J & K and Ladakh</h3>

                    <p><strong>1. Objective:</strong><br>
                        To provide academic fee (tuition and other admissible fee) and maintenance allowance (to bear
                        expenses on account of hostel & mess fee, cost of books and other incidental charges) to
                        students belonging to Jammu & Kashmir and Ladakh who, after passing Class XII or equivalent
                        examination, secure admission in Government Colleges/ Institutions and other select Institutions
                        outside the UTs of Jammu & Kashmir and Ladakh through AICTE’s counseling process. The scheme
                        also envisages to build capacities of the youth of J&K and Ladakh to enable them to compete with
                        their peers in the national main stream.</p>


                    <p><strong>2. Scope:</strong><br>
                        The scheme is implemented by the All India Council for Technical Education (AICTE). Under the
                        scheme, 5000 fresh scholarships are awarded every year. Out of these, 2070 scholarships are for
                        General Degree Courses, 2830 for Professional/ Engineering courses and 100 for Medical Courses.
                        The number of scholarships for engineering and medical courses are kept flexible, subject to the
                        ceiling of 5000 fresh scholarships per year and further subject to the savings accruing from any
                        shortfall in the number of students opting for general degree courses.
                    </p>

                    <p><strong>3. Rate Of Scholarships, Academic Fee & Maintenance Allowance:</strong></p>




                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="">Stream</th>
                                    <th width="250">Academic Fee (Upper limit)<br> per annum</th>
                                    <th width="250">Maintenance Charges (Fixed)<br> per annum</th>
                                    <th width="250">Number of fresh Scholarships<br> per annum</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>General Degree</td>
                                    <td>Rs.30,000/-</td>
                                    <td rowspan="3" valign="top">
                                        Rs.1.00 lakh</td>
                                    <td>2070</td>
                                </tr>
                                <tr>
                                    <td>Professional/ Engineering/ Nursing/ Pharmacy/ Architecture/ HMCT Degree</td>
                                    <td>Rs.1.25 lakh</td>
                                    <td>2830*</td>
                                </tr>
                                <tr>
                                    <td>Medical Degree -MBBS/ BDS/ BAMS/ BHMS</td>
                                    <td>Rs.3.00 lakh</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td colspan="3">Total No. of Scholarships</td>
                                    <td>5000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <p>*Lateral entry in professional slots of previous year included</p>

                    <p>Flexibility for deciding fees to be reimbursed for certain courses rests with the
                        Inter-Ministerial Committee, within the overall ceiling.</p>


                    <p><strong>4. Disbursement Of Scholarship:</strong></p>

                    <ul class="lst_type2">
                        <li>Scholarship towards academic fee will be paid directly to the Institution as per claim or as
                            per rate fixed by respective State Fee Regulatory Authority or as fixed by any Regulatory
                            Authority appointed by the Government, whichever is less and within the overall ceiling
                            fixed for the course. All the Institutions may note that upper ceiling of Academic Fee
                            inclusive of all admissible components taken together is upto Rs. 1,25,000/- for
                            Professional  Engineering Courses; upto Rs. 30,000/- for General Courses and upto Rs.
                            3,00,000/- for Medical Courses. Even if the total fee of Institute is more than the ceiling,
                            neither AICTE shall reimburse extra amount nor institute can charge the same from the
                            students.</li>
                        <li>The fixed maintenance allowance is upto Rs. 1.00 lakh per annum for all courses will be paid
                            to the bank account of the student through DBT using PFMS gateway. Maintenance Allowance
                            during first year will be released in 9(nine) installments, first installment of which will
                            be of Rs.20,000/- and subsequent 8 monthly installments will be of Rs.10,000/- each.</li>
                        <li>From 2nd year onwards fixed maintenance allowance of upto Rs. 1.00 lakh per annum will be
                            paid in 10 monthly installments of Rs.10,000/-.</li>
                        <li>Maintenance allowance will be released on the production of continuity certificate from the
                            Institute, hotel charges bill, etc</li>
                    </ul>

                    <p><strong>5. Eligibility:</strong></p>

                    <ul class="lst_type2">
                        <li>Candidates should be domicile of Union Territories of Jammu &amp; Kashmir and Ladakh.</li>
                        <li>Students must have passed 12th examination from JKBOSE or CBSE affiliated schools located in
                            UTs of J&amp;K and Ladakh.</li>
                        <li>Having family income of Rs. 8.00 lakh or less per annum.</li>
                        <li>Candidates who want to take admission under Lateral Entry Scheme have to pass Diploma in
                            Engineering from the Polytechnic Institutes recognized by Directorate of Technical
                            Education(DTE), UTs of J&amp;K and Ladakh.</li>
                        <li>Candidates are compulsorily required to apply on-line on the AICTE web-portal.</li>
                        <li>Admission under Lateral Entry Scheme will be subject to allocation of seats / vacant seats
                            of the preceding year in Engineering Courses only.</li>
                        <li>Merit list will be prepared for Higher Secondary passed and Lateral Entry students and the
                            same will be displayed on AICTE portal for conducting of on-line counseling for final
                            allotment of seats in colleges to eligible candidates subject to choice filling/
                            availability of scholarships.</li>
                    </ul>
                    <p><strong>6. Exclusions:</strong></p>
                    <p>Categories of Candidates NOT eligible under the PMSSS:</p>
                    <ul class="lst_type2">
                        <li>Candidates pursing courses through Open Universities.</li>
                        <li>Student availing benefit of any other scholarship scheme.</li>
                        <li>Candidates gaining admission through &lsquo;<strong>Management Quota&rsquo;</strong>.</li>
                        <li>Candidates pursuing Diploma course.</li>
                        <li>Candidates pursuing Post Graduate level studies, in any discipline.</li>
                        <li>Candidates having family income over Rs. 8.00 lakh per annum.</li>
                        <li>Not applied through online registration in the AICTE Portal.</li>
                        <li>Taking admission in the Colleges other than the prescribed colleges given in AICTE Portal.
                        </li>
                        <li>Admission through Agents/NGOs.</li>
                    </ul>


                    <p><strong>7. Reservation Policy As Applicable In The Uts Of J&K And Ladakh</strong></p>
                    <p>The reservation norms as prescribed for the UTs of J&K and Ladakh (subject to intimation from UTs
                        of J&K and Ladakh) in respect of SC, ST and Socially and Economically Backward Classes (SEBC)
                        are followed for providing scholarship under the Scheme. The break-up is given below:</p>


                    <p>(a) SC–8%</p>
                    <p>(b) ST–10%</p>
                    <p>(c) Socially and Economically backward classes (other than Scheduled Castes and Scheduled Tribes)
                        – 22%:</p>

                    <ul class="lst_type2">
                        <li>Weak &amp; under privileged classes/social caste (OCS) 4%</li>
                        <li>Resident of backward area (RBA) 10%</li>
                        <li>Resident of areas adjoining actual line of control (ALC)/ International Border(B) 4%</li>
                        <li>Pahari Speaking People 4%</li>
                        <li>Economically Weaker Sections (EWS) 10%*</li>
                    </ul>

                    <p>*10% EWS quota has been included in Open / General Category as the maximum family income ceiling
                        under the Scheme is Rs.8,00,000/- or less.</p>
                    <p>(d) 4% Horizontal reservation is provided for persons with disability above 40% as per</p>

                    <h3>Central Government Norms.</h3>
                    <p><strong>8. Institutes/Colleges Participating:</strong></p>
                    <ul class="lst_type2">
                        <li>Admission will be offered to the candidates from a selected pool of well performing
                            institutions / colleges / universities, which are recognized by AICTE or approved by UGC
                            under Section 12(B) or respective Regulatory Bodies of Government of India only, which are
                            fulfilling following criteria</li>
                        <li>All NAAC Accredited (for General Stream Programme)/ Delhi University Colleges/ All Central
                            Universities, All NBA accredited/ NIRF(up to the rank of 300)/ Government Institutions/
                            Colleges having hostel facilities and any other good institution identified in advance and
                            listed with the prior approval of AICTE.</li>
                        <li>Hostel facility criteria is to be relaxed for General Stream courses or any other quality
                            institution located in Delhi, Mumbai, Bangalore, Pune and Hyderabad etc.</li>
                        <li>AICTE shall take final decision as to the participating institutes.</li>
                    </ul>

                    <p><strong>9. Admission In IITS / Nits and Other Institutions of National Importance:</strong></p>
                    <ul class="lst_type2">
                        <li>Aspirants desiring to take admission through JEE Mains/JEE Advance in IITs, NITs, IISc,
                            IISER and Centrally Funded Institutions with National Importance may be considered, if
                            student participates in online counselling by filling their JEE Mains/ JEE Advance roll
                            numbers with respective admit card and result they would be eligible.</li>
                        <li>All Medical aspirants seeking admission in BDS/MBBS streams are required to appear in NEET
                            examinations and get qualified for admission. However, they should initially register on
                            AICTE portal by submitting their complete details including NEET roll number and get their
                            documents verified by Facilitation Centre as per the procedure. After securing their
                            admission to college through NEET counselling, they are required to upload their allotment
                            letter along with NEET score card and joining report to become eligible.</li>
                        <li>Aspirants seeking admission in Architecture programme are required to qualify NATA and their
                            admission to Architecture course through AICTE portal would be eligible after uploading
                            their NATA result and admit card.</li>
                        <li>Aspirants seeking admission in Integrated Law Course (B.A.LLB) are required to qualify CLAT
                            and their admission to law course through AICTE portal would be eligible after uploading
                            their CLAT result and admit card. Admission in the law course in National Law Schools will
                            be considered.</li>
                    </ul>

                    <p><strong>10. Duration Of Scholarships:</strong></p>
                    <p>The scholarships granted under the scheme are renewed in subsequent classes subject to good
                        conduct and maintenance of attendance as prescribed by the respective institution. Students
                        failing to get promoted to the next class / level would get the scholarship in the following
                        year subject to the condition that if the student fails again for the second time, then he / she
                        would forfeit the scholarship and the scholarship would not be renewed for the subsequent years.
                        If a scholar unable to appear in the annual examination owing to illness and / or on account of
                        any unforeseen incident, the scholarship may be renewed for the next academic year on submission
                        of medical certificate and other proof to satisfy the Head of the Institution who will also
                        certify the same. Scholarship will not be paid twice for the same year of study.
                    </p>

                    <p><strong>11. Online Admission Process:</strong></p>
                    <p>Admission under 10+2 Scheme and through Lateral Entry</p>
                    <p>Candidates who have passed 10+2 examination from JKBOSE or CBSE affiliated schools/ passed
                        Diploma in Engineering from Polytechnics approved by Directorate of Technical Education, UTs of
                        J&K and Ladakh in the academic year 2019-20 & 2020-21 and onwards can only submit their
                        application on AICTE Portal for registration of the scheme. Candidates are advised to fill exact
                        particulars as furnished at the time of registration for class10+2 examination. Candidates whose
                        credentials do not match with the particulars available in AICTE portal will not be able to
                        register online. On successful registration, eligible candidates will be issued user name and
                        password to fill online form on AICTE Portal. The UTs of J&K and Ladakh through various
                        Facilitation Centres, assist the students in submission of online application and verification
                        of the following original documents to ascertain their eligibility under the Scheme:</p>

                    <ul class="lst_type2">
                        <li>Certificate of domicile of the State of Jammu &amp; Kashmir</li>
                        <li>Certificate of Class 12th and 10th Examination (for candidates who have passed class 12th
                            examination)</li>
                        <li>Polytechnic Diploma Certificate (for Diploma candidates)</li>
                        <li>Income Certificate</li>
                        <li>Students applying under reserved quota must produce Caste Certificate (SC/ST/SEBC) issued by
                            State Government authority.</li>
                        <li>Persons with Disabilities (PwD) must submit Disability Certificate</li>
                    </ul>
                    <p><strong>12. Document Verification And Choice Filling:</strong></p>

                    <p>The applicant is required to get his / her uploaded documents verified with the originals at the
                        nearest Facilitation Centre set-up by UTs of J&K and Ladakh and get it verified and uploaded
                        with
                        stamp on portal of Facilitation Centres. After document verification from the facilitation
                        center
                        the candidate should collect the copy of document verification report without fail. The choice
                        filling window would be activated for only those candidates having successfully registered and
                        got
                        their documents verified at any one of the Facilitation Centres. The choice filling window will
                        be
                        blocked on the last date, after that no change would be allowed in order of preference. The
                        merit
                        list will be displayed subject to the declaration of result.</p>

                    <p>Provisional Merit list is generated based on Class XII / Diploma results. The students, whose
                        names
                        appear in the provisional merit list, are compulsorily required to attend the counseling:</p>
                    <ul class="lst_type2">
                        <li>Allotment of the seat will be done through online counselling process subject to merit/
                            availability of scholarships.</li>
                        <li>List of Institutions / Universities where admissions offered would be prepared and will
                            be displayed in candidate’s login for choice filling. Eligible candidates under the Scheme
                            are directed to choose the courses from these Institutions/ Universities only.</li>

                    </ul>
                    <p> <strong>Note:</strong> No Scholarship will be paid to the candidates who take admission in
                        institutions other than
                        the list of Institutions/ Universities available on the portal of AICTE except MBBS/ BDS/ allied
                        medicinal courses/ Central/ State Govt. for which supernumerary quota is not available.</p>


                    <p><strong>13. Disbursement Procedure:</strong></p>


                    <p>(I) Steps To Be Taken By Student For DBT:</p>

                    <ul class="lst_type2">
                        <li>After joining the institution, the student has to immediately upload his/her college
                            joining report (in the prescribed format available on website under SSS J&K 2021-2022 tab)
                            before the last date of joining is over. The student is required to login to AICTE portal
                            using their credentials which has already been created by them at the time of application
                            submission process under SSS J&K.</li>
                        <li>The joining report will be verified by the Institution post which candidate has to fill
                            andupload the following documents to start the disbursement procedure. Fill all the
                            necessary information in Basic Details Tab, Institute Details Tab & Bank Details Tab.</li>

                    </ul>
                    <p>(II) Stepsto Be Taken By Institute:</p>

                    <p>For processing of scholarship, the institute needs to perform the below mentioned task for
                        receiving
                        academic fee into their account. The annual academic fee would be credited in the institute
                        account
                        directly which is in the name of the institution and their details are to be submitted to AICTE.
                        The
                        fee would be released based on SFRC (State Fee Regulatory Committee/Authority) applicable to
                        that
                        particular batch/course with the maximum limit as per scheme guidelines.</p>
                    <ul class="lst_type2">
                        <li>College will upload documents for claiming Academic Fee. If the institute is admitting SSS
                            J&amp;K candidates for the first time they should apply for the issuance of User ID &amp;
                            Password by clicking at: <a
                                href="https://www.aicte-india.org/bureaus/jk/2020-2021">https://www.aicte-india.org/bureaus/jk/2020-</a><a
                                href="https://www.aicte-india.org/bureaus/jk/2020-2021">2021</a>.</li>
                        <li>If the institute has already admitted candidates under SSS J&amp;K, then it may use the old
                            User ID &amp; Password and submit SFRC and other documents as per norms.</li>
                        <li>Login on to AICTE&rsquo;s J&amp;K and Ladakh Portal using authorized &quot;User Id&quot;
                            &amp; &quot;Password', sent on the official email address.</li>
                        <li>Fill in the necessary information &amp; upload documents namely in 3 tabs: Institute
                            Details, Bank Details and Fee Details.</li>
                        <li>The following documents are to be uploaded in Institute login:</li>
                        <ol>
                            <li>College Fee Structure/ Academic fee (in the prescribed format available on AICTE portal:
                                <a
                                    href="https://www.aicte-india.org/bureaus/jk/2020-2021">https://www.aicte-india.org/bureaus/jk/2020-2021</a>)
                            </li>
                            <li>Fee as per SFRC (State Fee Regulatory Committee/Authority)/State Govt. issued fee
                                fixation document.</li>
                            <li>Mandate Form-Institution accounts details(format available on website under PMSSS
                                2020-21 tab)</li>
                            <li>Passbook Copy/Cancelled cheque clearly indicating bank name, Account holders Name,
                                Account Number, IFSC code, MICR Code, Bank Address.</li>
                            <li>The Institution bank account should not be in the name <strong>Trust/Society</strong>.
                            </li>
                            <li>Finally click on Submit Button</li>
                        </ol>
                    </ul>

                    <p>Scholarships will be disbursed through PFMS Mechanism only after joining the institute and
                        uploading the joining report along with other required documents including AADHAR Number on
                        AICTE, SSSJ&K portal through their login.</p>

                    <p>(III) Implementation And Monitoring</p>

                    <p>An Inter-Ministerial Committee(IMC) on Special Scholarship Scheme for Jammu & Kashmir and Ladakh
                        would oversee the implementation of the Scheme.</p>

                    <p><strong>14. Steps To Be Taken During Registration:</strong></p>

                    <p>Candidates would be required to upload the following documents:</p>


                    <ul class="lst_type2">
                        <li>Passport Size photograph (200x230 pixels - preferred)</li>
                        <li>Scanned Signature(140x60 pixels–preferred)</li>
                        <li>Domicile certificate issued by UTs of J&amp;K and Ladakh</li>
                        <li>SSC Marksheet</li>
                        <li>Family income certificate (Issued by Tehsildar or equivalent)</li>
                        <li>Bank         Details   of   student:  Students  individual   account  (joint account/ no
                            frill account/in operative account, parents account, joint account is not valid)</li>
                        <li>AADHAR Number</li>
                        <li>Category certificate (issued by the Competent Authority of the State Government)</li>
                        <li>Persons with Disabilities (PwD) must upload Disability Certificate (40% and above)</li>
                        <li>Candidates who are already availing the benefits of SSS J&amp;K are not eligible to apply.
                        </li>
                        <li>Student is required to give preference of the course which he/she intends to pursue i.e.
                            General or Professional or Medical stream.</li>
                        <li>General Stream includes admission to B.A./B.Com./B.Sc./B.Sc.(Hon.)/BBA/BCA etc.</li>
                        <li>Professional courses include B.E./ B.Tech./ B.Pharmacy/ B.Architecture/ Hotel Management
                            &amp; Catering Technology/ B.Sc.(Nursing).</li>
                        <li>Medical Streams include MBBS/ B.D.S./ BAMS and Allied Medicinal Courses.</li>
                        <li>Bank details seeded with AADHAR to be submitted at the time of registration to be verified
                            by the Facilitation Center.</li>
                        <ol>
                            <li>Upload scanned copy of AADHAR Card of the Student (if any)</li>
                            <li>Upload scanned copy of the first two pages of Bank Passbook/Cancelled cheque clearly
                                indicating following:</li>
                            <ol>
                                <li>Name of Accounts Holder</li>
                                <li>Name and Address of the Bank</li>
                                <li>Saving Bank Account No.</li>
                                <li>IFSC Code and MICR Code</li>
                            </ol>
                        </ol>

                    </ul>
                    <p><strong>Note: </strong>
                        Saving Bank Account should be seeded with AADHAR Number and in the name of the bona-fide student
                        only. Candidates may note that Bank Accounts should not be a “No-frill Account”/ Minor Account,
                        Parents’ Account/ Non-Operative account, joint account etc.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>