<section class="inner-banner-section inner-banner-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Testimonials Details</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="breadcrumbs_section">
                    <ul>
                        <li><a routerLink="/auth/home"><button type="submit">Home</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><button type="submit">Testimonials Details</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="innersearchsection">
    <div class="container">
        <div class="Student-List-section">
        <a routerLink="/auth/testimonials/testimonials-list">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="Profile-section">
                        <div class="Profile_img">
                            <img  *ngIf="_testimonialDtl?.docList.length === 0" src="assets/images/img_9.png" alt="">
                            <img *ngIf="_testimonialDtl?.docList.length > 0" src="{{_testimonialDtl?.docList[0].filePath}}">
                        </div>
                        <!-- <div class="Profile_img" *ngIf="_testimonialDtl?.docList.length > 0">
                            <img  src="{{_testimonialDtl.docList[0].filePath}} alt="">
                        </div> -->
                        <p><strong>Name : </strong> {{_testimonialDtl?.name}}</p> 
                        <hr>
                        <p><strong>Designation : </strong> {{_testimonialDtl?.designation}}</p>
                        <hr>
                        <p><strong>School : </strong> {{_testimonialDtl?.institution}}</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="Testimonials-Details_box">
                        <p>{{_testimonialDtl?.message}}</p>
                    </div>
                </div>
            </div>
           </a>
        </div>
    </div>
</section>