<section class="inner-banner-section inner-banner-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Terms & Conditions</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="breadcrumbs_section">
                    <ul>
                        <li><a routerLink="/auth/home"><button type="submit">Home</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><button type="submit">Terms & Conditions</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="innersearchsection">
    <div class="container">
        <div class="Student-List-section footer_link">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Terms & Conditions </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Introduction</h2>
                    <p>The Standard Terms And Conditions of this website(these “Terms” or these “Website Standard Terms
                        And Conditions”) contained herein on this webpage, shall govern your use of this website,
                        including all pages within this website (collectively referred to herein below as this
                        “Website”). These Terms apply in full force and effect to your use of this Website and by using
                        this Website, you expressly accept all terms and conditions contained herein in full. You must
                        not use this Website if you have any objection to any of these Website Standard Terms And
                        Conditions.</p>
                    <p>These Terms constitute an electronic record in accordance with the provisions of the Information
                        Technology Act, 2000 and the Information Technology (Intermediaries guidelines) Rules, 2011
                        thereunder, as amended from time to time.</p>
                    <p>The Platform is owned and operated by DCC Services Private Limited, a private limited company
                        incorporated under the Companies Act, 2013 and having its registered office at ERGO Tower, Unit
                        No. 705, 7th Floor, Block EP & GP, Salt Lake Sector – V, Kolkata - 700091 India. For the purpose
                        of these Terms of Use, wherever the context so requires, "you", “user”, or “User” shall mean any
                        natural or legal person who shall transaction on the Platform by providing registration data
                        while registering on the Platform as a registered user using any computer systems. The terms
                        "Vidyalo", "we", "us" or "our" shall mean DCC Services Private Limited.</p>
                    <p>Our website provides Users with access to compiled educational institution information and allied
                        services. Such information is provided on an As Is basis and We assume no liability for the
                        accuracy or completeness or use or non-obsolescence of such information. We shall not be liable
                        to update or ensure continuity of such information contained on the Website. We would not be
                        responsible for any errors, which might appear in such information, which is compiled by third
                        party sources or for any unavailability of such information. From time to time the website may
                        also include links to other websites. These links are provided for your convenience to provide
                        further information. They do not signify that we endorse the website(s). We have no
                        responsibility for the content of the linked website(s). You may not create a link to the
                        Website from another website or document without the Company's prior written consent.</p>

                    <h2>Account Registration </h2>
                    <p>You may access the Platform by registering to create an account and become a member of Vidyalo or
                        you can also register yourself to join by logging into your account to avail the services. The
                        Membership is limited for the purpose and are subject to the terms, and strictly not
                        transferable.</p>

                    <h2>Intellectual Property</h2>
                    <p>All information, content, material, trademarks, services marks, trade names, and trade secrets
                        including but not limited to the software, text, images, graphics, video, script and audio,
                        contained in the Application, Website, Services and products are proprietary property of the
                        Company (“Proprietary Information”). No Proprietary Information may be copied, downloaded,
                        reproduced, modified, republished, uploaded, posted, transmitted or distributed in any way
                        without obtaining prior written permission from the Company and nothing on this Application or
                        Website or Services shall be or products deemed to confer a license of or any other right,
                        interest or title to or in any of the intellectual property rights belonging to the Company, to
                        the User. You may own the medium on which the information, content or materials resides, but the
                        Company shall at all times retain full and complete title to the information, content or
                        materials and all intellectual property rights inserted by the Company on such medium. Certain
                        contents on the Website may belong to third parties. Such contents have been reproduced after
                        taking prior consent from said party and all rights relating to such content will remain with
                        such third party. Further, you recognize and acknowledge that the ownership of all trademarks,
                        copyright, logos, service marks and other intellectual property owned by any third party shall
                        continue to vest with such party and You are not permitted to use the same without the consent
                        of the respective third party.</p>

                    <h2>Restrictions</h2>
                    <p>Your use of our products, Website, Application and Services is solely for Your personal and
                        non-commercial use. Any use of the Application, Website, Services or products or their contents
                        other than for personal purposes is prohibited. Your personal and non-commercial use of this
                        Application, Website, products and / or our Services shall be subjected to the following
                        restrictions:</p>
                    <ul class="lst_type2">
                        <li>You may not decompile, reverse engineer, or disassemble the contents of the Application and
                            / or our Website and/or Services/ products or modify, copy, distribute, transmit, display,
                            perform, reproduce, publish, license, create derivative works from, transfer, or sell any
                            information or software obtained from the Application and / or our Website and/or
                            Services/products, or remove any copyright, trademark registration, or other proprietary
                            notices from the contents of the Application and / or and / or our Website and/or
                            Services/products</li>
                        <li>You will not (a) use this Application and / or our Website and/or any of our product/s or
                            Service/s for commercial purposes of any kind, or (b) advertise or sell the Application or
                            any products, Services or domain names or otherwise (whether or not for profit), or solicit
                            others (including, without limitation, solicitations for contributions or donations) or use
                            any public forum for commercial purposes of any kind, or (c) use the Application and / or
                            Website/our products and Services in any way that is unlawful, or harms the Company or any
                            other person or entity as determined by the Company.</li>
                        <li>Access or use the Application/Website/Services/products in any manner that could damage,
                            disable, overburden or impair any of the Application's/Website's servers or the networks
                            connected to any of the servers on which the Application/Website is hosted;</li>
                        <li>Intentionally or unintentionally interfere with or disrupt the services or violate any
                            applicable laws related to the access to or use of the
                            Application/Website/Services/products, violate any requirements, procedures, policies or
                            regulations of networks connected to the Application/Website/Services/products, or engage in
                            any activity prohibited by these Terms;</li>
                    </ul>

                    <h2>You are expressly and emphatically restricted from all of the following:</h2>
                    <ul class="lst_type2">
                        <li>Copying any Website material in any media; Selling, sublicensing and/or otherwise
                            commercializing any Website material;</li>
                        <li>Using this Website in any way that is, or may be, damaging to this Website;</li>
                        <li>Using this Website in any way that impacts user access to this Website;</li>
                        <li>Using this Website contrary to applicable laws and regulations, or in a way that causes, or
                            may cause, harm to the Website, or to any person or business entity;</li>
                        <li>Engaging in any data mining, data harvesting, data extracting or any other similar activity
                            in relation to this Website, or while using this Website;</li>
                        <li>Using this Website to engage in any advertising or marketing;</li>
                    </ul>


                    <h2>Severability</h2>
                    <p>If any provision of these Terms is found to be unenforceable or invalid under any applicable law,
                        such unenforceability or invalidity shall not render these Terms unenforceable or invalid as a
                        whole, and such provisions shall be deleted without affecting the remaining provisions herein.
                    </p>

                    <h2>Links to Other Sites:</h2>
                    <p>Our Website provides Users with access to compiled educational information and related sources.
                        Such information is provided on an As Is basis and We assume no liability for the accuracy or
                        completeness or use or non-obsolescence of such information. We shall not be liable to update or
                        ensure continuity of such information contained on the Website. We would not be responsible for
                        any errors, which might appear in such information, which is compiled from third party sources
                        or for any unavailability of such information. From time to time the Website may also include
                        links to other websites. These links are provided for your convenience to provide further
                        information. They do not signify that we endorse the website(s). We have no responsibility for
                        the content of the linked website(s). You may not create a link to the Website from another
                        website or document without the Company's prior written consent.</p>

                    <h2>Disclaimer of Liability:</h2>
                    <p>Some parts of the Services are interactive, and we encourage contributions by Users, which may or
                        may not be subject to editorial control prior to being posted. The Company accepts no
                        responsibility or liability for any material communicated by third parties in this way. The
                        Company reserves the right at its sole discretion to remove, review, edit or delete any content.
                        Similarly, We will not be responsible or liable for any content uploaded by Users directly on
                        the Website, irrespective of whether We have certified any answer uploaded by the User. We would
                        not be responsible to verify whether such questions/answers or contents placed by any User
                        contain infringing materials or not.</p>
                    <p>
                        The Content prevalent on this website is sourced & is quoted without any representation or, accuracy, expressed or, implied except otherwise specified in writing.
                    </p>    
                    <p>No representations, warranties or guarantees whatsoever are made by Vidyalo as to the (a)
                        accuracy, adequacy, reliability, completeness, suitability or applicability of the information
                        to a particular situation; (b) that the service will be uninterrupted, timely, secure, or
                        error-free; (c) the quality of any products, services, content, information, or other material
                        purchased or obtained from the website will meet your expectations or requirements; or (d) any
                        errors in the website will be corrected.</p>
                    <p>Persons who are "competent/capable" of contracting within the meaning of the Indian Contract Act,
                        1872 shall be eligible to register for the Application and all Our products or Services. Persons
                        who are minors, un-discharged insolvents etc. are not eligible to register for Our products or
                        Services. As a minor if You wish to use Our products or Services, such use shall be made
                        available to You by Your legal guardian or parents, who has agreed to these Terms. In the event
                        a minor utilizes the Application/Website/Services, it is assumed that he/she has obtained the
                        consent of the legal guardian or parents and such use is made available by the legal guardian or
                        parents. The Company will not be responsible for any consequence that arises as a result of
                        misuse of any kind of Our Application or any of Our products or Services that may occur by
                        virtue of any person including a minor registering for the Services/products provided. By using
                        the products or Services You warrant that all the data provided by You is accurate and complete
                        and that student using the Application has obtained the consent of parent/legal guardian (in
                        case of minors). The Company reserves the right to terminate Your subscription and / or refuse
                        to provide You with access to the products or Services if it is discovered that You are under
                        the age of 18 (eighteen) years and the consent to use the products or Services is not made by
                        Your parent/legal guardian or any information provided by You is inaccurate. You acknowledge
                        that the Company does not have the responsibility to ensure that You conform to the aforesaid
                        eligibility criteria. It shall be Your sole responsibility to ensure that You meet the required
                        qualification. Any persons under the age of 18 (eighteen) should seek the consent of their
                        parents/legal guardians before providing any Information about themselves or their parents and
                        other family members on the Application.</p>
                    <p>In no event shall the Company, its officers, directors, employees, partners or agents be liable
                        to You or any third party for any special, incidental, indirect, consequential or punitive
                        damages whatsoever, including those resulting from loss of use, data or profits or any other
                        claim arising out, of or in connection with, Your use of, or access to, the Application.</p>

                    <h2>No Controlling Spam Policy or Unsolicited E-mails</h2>
                    <p>You will not use any communication tool or other means available on the Site to transmit,
                        directly or indirectly, any unsolicited bulk communications (including emails and instant
                        messages). You may not harvest information about users of Vidyalo for the purpose of sending or
                        to facilitate the sending of unsolicited bulk communications. We may terminate your access or
                        use of the Site immediately, with or without any notice, and take any other legal action if you,
                        or anyone using your access details to the Site, violates these terms. We may adopt any
                        technical remedy (including any filtering technology or other measures) to prevent unsolicited
                        bulk communications from entering, or remaining within our computer or communication networks.
                        Such filtering technology or other measures may block, either temporarily or permanently, some
                        e-mail sent to you through the DCC's Web Sites.</p>

                    <h2>Circumstances beyond your or our control</h2>
                    <p>Neither we nor you shall be in breach of our contractual obligations or incur any liability to
                        the other if we or you are unable to comply with any cause beyond our or your reasonable
                        control. In the event of any such occurrence affecting one of us, that one shall be obliged as
                        soon as reasonably practicable to notify the other, who shall have the option of suspending or
                        terminating the operation of the Services Contract on notice taking effect immediately on
                        delivery.</p>

                    <h2>Payment Terms</h2>
                    <p>User will pay all invoices immediately in accordance with the payment instructions as stated on
                        the invoice. Amounts not paid within stipulated time and date will be subject to cancellation or
                        charge interest lesser of one and one-half percent (1.5%) per month or the highest rate
                        permitted by applicable law. User will pay for any and all collection or litigation expenses,
                        including reasonable legal fees, incurred by Vidyalo in collecting any late payments or late
                        payment fees or charges. All payments made against the Orders or Services on the Platform by you
                        shall be compulsorily in Indian Rupees acceptable in the Republic of India. The Platform will
                        not facilitate transactions with respect to any other form of currency with respect to the
                        Orders or Services made on Platform. You can pay by (i) credit card or debit card or net
                        banking; (ii) any other RBI approved payment method at the time of booking an Order. Buyer
                        agrees to pay for the total amount for the Order placed on the Platform. Vidyalo will collect
                        the total amount in accordance with these Terms of Use and the pricing terms set forth in the
                        applicable listing of product or services for the particular Merchant, apart from the
                        Convenience Charge for the Services. Please note that we cannot control any amount that may be
                        charged to Buyer by his/her bank related to our collection of the total amount, and we disclaim
                        all liability in this regard.</p>


                    <h2>Taxes </h2>
                    <p>In the event that any tax, duty, import fee, custom fee, levy, penalty, etc., becomes payable in
                        any territory either by deduction or for which Vidyalo may be required to make a withholding
                        payment, all such taxes, duties, fees, levies, penalties, etc., will be added to User’s account
                        and be payable to Vidyalo in addition to amounts due for services rendered.</p>

                    <h2>Payment Disputes</h2>
                    <p>User must pay all invoiced amounts when due. If User disputes any portion of an amount due, User
                        must, within Fifteen (15) days of the invoice date containing such disputed amount, give notice
                        to Vidyalo of the Disputed Amount and include in such notice the specific details and reasons
                        for disputing each item. For clarity, claims of unauthorized use, fraudulent use, or any other
                        misuse will not constitute a valid basis for dispute of an invoice. If the Disputed Amount is
                        resolved in favor of Vidyalo, User must pay the Disputed Amount with appropriate late charges,
                        if applicable, upon final determination of such dispute. Vidyalo will issue credits to the User
                        upon resolution of any Disputed Amounts in favor of User.</p>

                    <h2>Termination of Account</h2>
                    <p>Vidyalo reserves its right to refuse service, restrict, suspend, terminate your account;
                        (Terminate this Agreement; Terminate or suspend your access to the Vidyalo Web Sites; Refuse,
                        move or remove for any reason any Content / Image that you submit on or through the Services;
                        Refuse, move, or remove any Content / Image that is available on or through the Services;
                        Deactivate or delete your accounts and all related information and files in your account;
                        Establish general practices and limits concerning use of the Services) at any time and, remove
                        or edit contents or cancel orders (entered by you) in its sole discretion with or without cause,
                        and with or without any prior notice for any violation of the Terms of Use. Upon such
                        termination or suspension, your right to use the Vidyalo's Web Sites will immediately cease.</p>
                    <p>You can also terminate your account at any time but your information may remain stored in archive
                        on our servers even after the deletion or the termination of your account. However, there would
                        be no refund in the event of termination either by Vidyalo or the subscribe.</p>

                    <h2>Law and jurisdiction</h2>
                    <p>The Terms shall be governed by and construed in accordance with the laws of India, without regard
                        to conflict of law principles. Further, the Terms shall be subject to the exclusive jurisdiction
                        of the competent courts located in Kolkata and You hereby accede to and accept the jurisdiction
                        of such courts.</p>

                    <h2>General Provisions:</h2>
                    <ul class="lst_type2">
                        <li>Notice: All notices served by the Company shall be provided via email to Your account or as
                            a general notification on the Application. Any notice to be provided to the Company should
                            be sent to info@vidyalo.com</li>
                        <li>Entire Agreement: The Terms, along with the Privacy Policy, and any other guidelines made
                            applicable to the Application from time to time, constitute the entire agreement between the
                            Company and You with respect to Your access to or use of the Application, Website and the
                            Services thereof.</li>
                        <li>Assignment: You cannot assign or otherwise transfer Your obligations under the Terms, or any
                            right granted hereunder to any third party. The Company's rights under the Terms are freely
                            transferable by the Company to any third parties without the requirement of seeking Your
                            consent.</li>
                        <li>Severability: If, for any reason, a court of competent jurisdiction finds any provision of
                            the Terms, or portion thereof, to be unenforceable, that provision shall be enforced to the
                            maximum extent permissible so as to give effect to the intent of the parties as reflected by
                            that provision, and the remainder of the Terms shall continue in full force and effect.</li>
                        <li>Waiver: Any failure by the Company to enforce or exercise any provision of the Terms, or any
                            related right, shall not constitute a waiver by the Company of that provision or right.</li>
                        <li>Relationship: You acknowledge that Your participation on the Application, does not make You
                            an employee or agency or partnership or joint venture or franchise of the Company.</li>
                        <li>The Company provides these Terms so that You are aware of the terms that apply to your use
                            of the Website/Application and Services. You acknowledge that, the Company has given You a
                            reasonable opportunity to review these Terms and that You have agreed to them.</li>
                    </ul>

                    <h2>Feedback on our performance</h2>
                    <p>We aspire to embed in our culture the attributes that we feel distinguish our brand and
                        contribute to the difference that you experience when you engage Vidyalo. We may invite you to
                        provide feedback on our performance so that we can measure to what extent we meet our goals, you
                        may feel free to send your feedback at clientcare@vidyalo.com</p>

                    <h2>Customer Care</h2>
                    <p>We make all best endeavours 8to provide You with a pleasant experience. In the unlikely event
                        that You face any issues, please contact us at support@vidyalo.com.</p>


                </div>
            </div>
        </div>
    </div>
</section>