<section class="inner-banner-section inner-banner-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Exam Tips Vidyalo</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="breadcrumbs_section">
                    <ul>
                        <li><a routerLink="/auth/home"><button type="submit">Home</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><a routerLink="/auth/exam-tips"><button type="submit">Exam Tips</button></a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li><button type="submit">Exam Tips Vidyalo</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="innersearchsection">
    <div class="container">
        <div class="Student-List-section footer_link">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Exam Tips Vidyalo</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>How To Overcome Fear Of Examination </h2>
                    <p>It is, however, difficult to know how best to manage your preparation period until you have some
                        experience. This page therefore offers some ideas, based on experience and expert opinion, to
                        help those still quite new to exams. Some of these tips sound like ‘common sense’, and relate to
                        the importance of looking after yourself. Others are more about how you do your studying. Both
                        types are important and will help you to both study better, and perform better in the exam.</p>

                    <h3>1. Start your revision early</h3>

                    <p>There is no substitute for starting early with revision.</p>

                    <p>You need to give yourself enough time to review everything that you have studied and make sure
                        that
                        you understand it (or to read around the subject or ask for help if you are struggling).
                        Last-minute
                        cramming is much less productive.</p>

                    <p>Ideally, review each subject as you go, and make sure that you understand it fully as this will
                        make
                        revision much easier. Ultimately, the best tip is to study hard and know your subject, and
                        starting
                        early is the best way to achieve this.</p>


                    <h3>2. Organise your study time</h3>



                    <p>You will almost certainly find some subjects easier than others. You will also find that you have
                        more to revise for some subjects than others.</p>

                    <p>It is worth taking the time to plan your revision and consider how much time you might need for
                        each
                        subject.</p>

                    <p>It is also helpful to consider when and how long you plan to spend studying each day. How much
                        time
                        will you be able to manage each day? What other commitments do you have during your study
                        period?</p>

                    <p>Plan your revision to ensure that you use your time to the best advantage. When is the best time
                        of day for you—morning, afternoon, or evening? Can you do more reading at particular times? This
                        will help you to plan broadly what you intend to do, although you should always make sure that
                        you
                        leave it flexible enough to adapt later if circumstances change.</p>


                    <h3>3. Look after yourself during study and exam time</h3>
                    <p> You will be able to work better if you eat a healthy diet and get plenty of sleep.</p>

                    <p>This applies both during your exam period and when you are revising. Surviving junk food is
                        not a good idea. For more about the importance of diet and sleep, see our pages on Food, Diet,
                        and
                        Nutrition and The Importance of Sleep.</p>

                    <p>It is also a good idea to take regular exercise when studying. A brisk walk, or more vigorous
                        exercise, will get your blood moving and ensure that you are better able to concentrate.</p>


                    <h3>4. Vary your revision techniques</h3>



                    <p>Always doing the same thing, for example, reading over your notes on a subject, is likely to be
                        quite dull. Spice up your revision period by trying different exercises and techniques.
                        Alternatives
                        to reading your notes over include:</p>

                    <p>Doing practice papers and questions to test your understanding (your teachers or tutors will
                        probably be very happy to mark these for you if you ask them nicely);
                        Drawing mind maps or other summary diagrams to test what you can remember, and then check them
                        against your notes. Notice where you have left out detail, or there are gaps, and go back and
                        review
                        those areas; and
                        Organizing a discussion group with some friends, to consider a particular issue or area.</p>


                    <h3>5. Use flow charts and diagrams</h3>
                    <p>Visual aids can be really helpful when revising. At the start of a topic, challenge yourself to
                        write down everything you already know about a topic - and then highlight where the gaps lie.
                        Closer to the exam, condense your revision notes into one-page diagrams. Getting your ideas down
                        in this brief format can then help you to quickly recall everything you need to know during the
                        exam.</p>

                    <h3>6. Vary your locations</h3>
                    <p>Changing the location in which you study—for example, your room, the library at school or
                        college, a
                        quiet café, or someone else’s house—is also good.</p>

                    <p>Research has found that this can help to improve memory retention. It is not clear why, but the
                        suggestion is that the brain makes connections between the background and what you are studying:
                        more different connections make things easier to remember.</p>



                    <h3>7. Take regular breaks</h3>


                    <p>You cannot work solidly for 8 hours. In fact, it is very hard to work in a concentrated way
                        for more than about an hour.</p>

                    <p>You may find that some days you can do more, but mostly, one to one and a half hours is
                        likely to be your limit before you need a break.</p>

                    <p>Take 10 minutes periodically to go and get a drink and walk around a bit.</p>


                    <h3>8. Know your exam</h3>


                    <p>Make sure that you have looked at past papers.</p>

                    <p>This will ensure that you are prepared for the type of exam you will be sitting, whether multiple
                        choice, short answer, or essay.</p>

                    <p>Know what you are expected to do: for example, how many questions from each section will you have
                        to
                        answer? Of course, you still have to read the instructions on the paper itself, and make sure
                        that
                        they are the same, but this will help you to feel comfortable with what will be expected.</p>

                    <p>Even more important, make sure that you have practised the right type of questions, and know what
                        will be expected of a ‘good’ and ‘bad’ answer.</p>


                    <h3>9. Make sure you know the practical details about your exam</h3>
                    <p> For example:</p>

                    <p>Where will it be held?
                        What time does it start, and when do you need to get there?
                        If you have to travel some distance, what time will you need to leave?
                        What do you need to take with you?
                        Also, make sure that you know what to do if something goes wrong. You might, for example, be ill
                        on
                        the day, or get held up on the journey, and you need to know who to contact.</p>

                    <p>Take a bit of time at least a week beforehand to make sure that you know the answers to all these
                        questions.</p>

                    <p>This will help you to stay reasonably relaxed, and ensure that you know what to do if something
                        goes
                        wrong, as well as minimizing the chances of something going wrong.</p>


                </div>
            </div>
        </div>
    </div>
</section>